<bee-card>

  <strong class="dark:text-white">{{ 'client.profile.form.section.address.title' | translate }}</strong>

  <country-select-component
		[hidden]="hideInputList.includes('country')"
    [control]="form.controls.country"/>

  <form-input
    id="business-profile-form-address-city-input"
    inputType="text"
    autocomplete="city"
		[hidden]="hideInputList.includes('city')"
    [placeholder]="'client.profile.form.section.address.input.city.placeholder' | translate"
    [control]="form.controls.city"
    [label]="'keyword.capitalize.city' | translate"/>

  <form-input
    id="business-profile-form-address-zipCode-input"
    inputType="text"
    autocomplete="zipCode"
		[hidden]="hideInputList.includes('zipCode')"
    [placeholder]="'client.profile.form.section.address.input.zipCode.placeholder' | translate"
    [control]="form.controls.zipCode"
    [label]="'keyword.capitalize.zipCode' | translate"/>

  <form-input
    id="business-profile-form-address-streetAddressLineOne-input"
    inputType="text"
    autocomplete="streetAddressLineOne"
		[hidden]="hideInputList.includes('addressLineOne')"
    [placeholder]="'client.profile.form.section.address.input.streetAddressLineTwo.placeholder' | translate"
    [control]="form.controls.streetAddressLineOne"
    [label]="'keyword.capitalize.streetAddressLineOne' | translate"/>

  <form-input
    id="business-profile-form-address-streetAddressLineTwo-input"
    inputType="text"
    autocomplete="streetAddressLineTwo"
		[hidden]="hideInputList.includes('addressLineTwo')"
    [placeholder]="'client.profile.form.section.address.input.streetAddressLineTwo.placeholder' | translate"
    [control]="form.controls.streetAddressLineTwo"
    [label]="'keyword.capitalize.streetAddressLineTwo' | translate"/>

</bee-card>
