<card>

  <strong class="dark:text-white">{{ 'client.profile.form.section.address.title' | translate }}</strong>

  <country-select-component
    [control]="form.controls.country"/>

  <form-input
    id="business-profile-form-address-city-input"
    type="text"
    autocomplete="city"
    [placeholder]="'client.profile.form.section.address.input.city.placeholder' | translate"
    [control]="form.controls.city"
    [label]="'keyword.capitalize.city' | translate"/>

  <form-input
    id="business-profile-form-address-zipCode-input"
    type="text"
    autocomplete="zipCode"
    [placeholder]="'client.profile.form.section.address.input.zipCode.placeholder' | translate"
    [control]="form.controls.zipCode"
    [label]="'keyword.capitalize.zipCode' | translate"/>

  <form-input
    id="business-profile-form-address-streetAddressLineOne-input"
    type="text"
    autocomplete="streetAddressLineOne"
    [placeholder]="'client.profile.form.section.address.input.streetAddressLineTwo.placeholder' | translate"
    [control]="form.controls.streetAddressLineOne"
    [label]="'keyword.capitalize.streetAddressLineOne' | translate"/>

  <form-input
    id="business-profile-form-address-streetAddressLineTwo-input"
    type="text"
    autocomplete="streetAddressLineTwo"
    [placeholder]="'client.profile.form.section.address.input.streetAddressLineTwo.placeholder' | translate"
    [control]="form.controls.streetAddressLineTwo"
    [label]="'keyword.capitalize.streetAddressLineTwo' | translate"/>

</card>
