<div class="block max-w-full overflow-x-auto h-[calc(100vh-64px)] md:h-[calc(100vh)]">
	<event-requested-filter-component/>
	<div class="flex flex-col" *ngIf="items$ | async as items">
		<div class="flex flex-col" *ngFor="let dateItem of items | keyvalue; let index = index">
			<div class="ps-8 p-4 bg-beeColor-200 text-beeColor-600 sticky top-0">
				<div class="flex gap-4 items-center">
					<div class="text-xl font-bold flex-1">{{ getDateCorrectFormat(dateItem.key) }}
						, {{ getDayNameByDate(dateItem.key) }}</div>
					<div class="flex flex-wrap">
						<span>
							{{ 'keyword.lowercase.after' | translate }}
							{{ getOffsetOfDays(dateItem.key) }}
							{{ 'keyword.lowercase.short.days' | translate }}
						</span>
					</div>
				</div>
			</div>
			<div class="flex flex-col pb-8 pt-4">
				<div *ngFor="let timeItem of (dateItem.value | keyvalue);">
					<div
						class="text-sm px-4 text-beeColor-600 flex justify-start gap-2 overflow-x-auto">
						<div class="font-bold bg-neutral-200 rounded-xl p-2 px-4">
							{{ timeItem.key }}
						</div>
						<div *ngIf="timeItem.value.length > 1">
							<div
								class="flex items-center whitespace-nowrap gap-2 p-3 py-2 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
								role="alert">
								<i class="bi bi-exclamation-triangle-fill"></i>
								<div class="font-bold">{{ 'keyword.capitalize.warning' | translate }}!</div>
								<div>
									{{ 'event.warning.multipleEventAtSameTime' | translate }}
								</div>
							</div>
						</div>
					</div>
					<div class="p-4 flex lg:grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 overflow-x-auto">

						<div *ngFor="let item of toEventListType(timeItem.value)">
							<bee-card class="text-sm" gap="gap-2">
								<div class="flex justify-between items-center gap-8">
									<div class="cursor-pointer flex items-center gap-2 w-full" (click)="singleClick(item)">
										<div eventStatusStyle mode="text" [status]="item.status"></div>
										<div
											*ngIf="!item.someServiceHasRangeDurationVersion"
											class="bg-neutral-100 text-neutral-800 font-medium inline-flex gap-2 items-center px-2 py-0.5 rounded-2xl dark:bg-gray-700 dark:text-neutral-400 border border-neutral-400">
											{{ (item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.price ?? 0) | currency: item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.currency: 'symbol-narrow'  }}
										</div>
									</div>
									<utility-table-column-action placement="bottom-start" [offsetDistance]="10" [id]="item._id!"/>
								</div>

								<ng-container *ngIf="item.someServiceHasRangeDurationVersion; else SingleDurationTemplate">
									<div
										class="flex flex-col items-center p-3 py-2 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
										role="alert">
										<div class="flex justify-start w-full">
											<i class="bi bi-exclamation-triangle-fill me-2"></i>
											<div class="font-bold">{{ 'keyword.capitalize.warning' | translate }}!</div>
										</div>
										<div>
											{{ 'event.warning.durationAndPriceConflict' | translate }}
										</div>
									</div>
									<div class="flex pt-1">
										<div (click)="singleClick(item)" class="cursor-pointer flex-1 flex items-center gap-4">
											<div class="text-beeColor-500">
												<i class="bi bi-clock"></i>
											</div>
											<div class="flex flex-col"
													 [innerHTML]="durationVersionHtmlHelper.getDurationValue(item.services[0])">
											</div>
										</div>
										<div (click)="singleClick(item)" class="cursor-pointer flex items-center gap-4">
											<div class="flex flex-col" [innerHTML]="durationVersionHtmlHelper.getPriceValue(item.services[0])">
											</div>
										</div>
									</div>
								</ng-container>
								<ng-template #SingleDurationTemplate>
									<div
										(click)="singleClick(item)"
										class="cursor-pointer inline-flex gap-4 items-center">
										<i class="bi bi-clock text-beeColor-500"></i>
										<div class="inline-flex gap-2">
											{{ item.start | date: 'HH:mm' }} - {{ item.end | date: 'HH:mm' }}
											<div class="text-neutral-500">
												({{ item?.services?.[0]?.durationVersions?.[0]?.durationInSeconds ?? 0 | humanizeDuration }})
											</div>
										</div>
									</div>
								</ng-template>
								<div
									(click)="singleClick(item)"
									class="cursor-pointer inline-flex gap-4 items-center">
									<i class="bi bi-cart text-beeColor-500"></i>
									{{ item?.services?.[0]?.languageVersions?.[0]?.title | noData }}
								</div>
								<div
									(click)="singleClick(item)"
									class="cursor-pointer inline-flex gap-4 items-center">
									<i class="bi bi-file-person text-beeColor-500"></i>
									{{ item?.services?.[0]?.specialists?.[0]?.member?.firstName }}
									{{ item?.services?.[0]?.specialists?.[0]?.member?.lastName }}
								</div>
								<event-attendee-card-component
									*ngFor="let attendee of (item?.attendees ?? [])"
									[attendee]="attendee"/>
								<ng-container (click)="singleClick(item)" *ngIf="item?.note?.length">
									<hr class="mt-2">
									<div class="text-neutral-500 dark:text-neutral-400 py-2">
										{{ item.note }}
									</div>
								</ng-container>
								<div class="flex gap-4 justify-between pt-1">
<!--									<event-change-status-on-rejected-component [event]="item"/>-->
<!--									<event-change-status-on-booked-component [event]="item"/>-->
								</div>
							</bee-card>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
