<div
	class="col-span-12 lg:col-start-4 lg:col-span-6 bg-white dark:bg-beeDarkColor-800 dark:border dark:border-beeDarkColor-700 shadow rounded-2xl">

	<form class="p-4 flex flex-col gap-4">

		<member-form-avatar-container-component
			[control]="form.controls.avatar"/>

		<form-input
			id="member-form-email"
			inputType="email"
			autocomplete="email"
			placeholder="firstname.lastname@example.com"
			[control]="form.controls.email"
			[label]="'keyword.capitalize.email' | translate"/>

		<form-input
			id="member-form-firstName"
			inputType="text"
			autocomplete="firstName"
			[placeholder]="'keyword.capitalize.firstName' | translate"
			[control]="form.controls.firstName"
			[label]="'keyword.capitalize.firstName' | translate"/>

		<form-input
			id="member-form-lastName"
			inputType="text"
			autocomplete="lastName"
			[placeholder]="'keyword.capitalize.lastName' | translate"
			[control]="form.controls.lastName"
			[label]="'keyword.capitalize.lastName' | translate"/>

		<member-select-role [control]="form.controls.role"/>
		<!--        <div class="bg-white border rounded-lg p-4 mt-4">-->
		<!--          <strong>{{ 'keyword.capitalize.permission' | translate }}</strong>-->
		<!--          <div>-->
		<!--            {{ 'keyword.capitalize.soon' | translate }}-->
		<!--          </div>-->
		<!--        </div>-->

		<utility-switch-component
			id="member-form-status"
			[label]="'keyword.capitalize.activate' | translate"
			[control]="form.controls.active"/>

		<button
			primary
			type="button"
			[isLoading]="form.pending"
			[disabled]="form.disabled"
			[scrollToFirstError]="true"
			(click)="save()">
			{{ 'keyword.capitalize.save' | translate }}
		</button>

	</form>

</div>

