<div class="pb-48 pt-4">

	<form class="flex flex-col gap-4 m-auto max-w-xl">

		<client-business-profile-booking-settings-component
			[form]="form.controls.bookingSettings"/>

		<client-auto-book-event [control]="form.controls.bookingSettings.controls.autoActionSettings.controls.isEnabled"/>

		<client-container-business-settings-component
			[businessSettings]="form.controls.businessSettings"/>

		<app-notification-settings [form]="form.controls.notificationSettings"/>

		<utility-button-save-container-component class="bottom-0 z-50">
			<button
				(click)="save()"
				[disabled]="form.disabled"
				[isLoading]="form.pending"
				[scrollToFirstError]="true"
				primary
				type="button">
				{{ 'keyword.capitalize.save' | translate }}
			</button>
		</utility-button-save-container-component>

	</form>

	<hr class="m-auto max-w-xl mt-4">
	<client-danger-zone-component class="m-auto block max-w-xl mt-4"/>

</div>

