<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState.items.length">
	<bee-card class="text-sm border-2 border-transparent hover:border-blue-500" [class.!border-green-500]="selectedIds.includes(item._id)"  *ngFor="let item of tableState.items; trackBy: trackById">
		<div class="flex justify-between items-center gap-8">

			<div (click)="singleClick(item)" class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'absence.form.inputs.type.label' | translate }}
					</div>
					<div class="font-bold flex gap-2">
						{{ ('absence.type.' + item.type + '.label') | translate }}
					</div>
				</div>
			</div>
<!--			<div (click)="singleClick(item)" class="flex items-center gap-2 w-full">-->
<!--				<div [class.text-red-700]="!item.active" [class.text-green-700]="item.active">-->
<!--					{{ (item.active ? 'keyword.capitalize.active' : 'keyword.capitalize.inactive' ) | translate }}-->
<!--				</div>-->
<!--			</div>-->
			<app-absence-row-action-button-component
				*ngIf="showAction.state$ | async"
				[item]="item"
				[id]="item._id"/>

			<div (click)="singleClick(item)" *ngIf="showSelectedStatus.state$ | async">
				<div
					*ngIf="selectedIds.includes(item._id)"
					class="w-full border border-green-200 bg-green-50 text-green-600 px-2 py-1 rounded-2xl">
					{{ 'keyword.capitalize.selected' | translate }}
				</div>
				<div
					*ngIf="!selectedIds.includes(item._id)"
					class="w-full border border-blue-200 bg-blue-50 text-blue-600 px-2 py-1 rounded-2xl">
					{{ 'keyword.capitalize.select' | translate }}
				</div>
			</div>
		</div>
		<div (click)="singleClick(item)" class="grid grid-cols-2 gap-2">

			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.start' | translate }}
					</div>
					<div class="font-bold">
						{{ item.start | dynamicDate }}
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.end' | translate }}
					</div>
					<div class="font-bold">
						{{ item.end | dynamicDate }}
					</div>
				</div>
			</div>
		</div>
		<div (click)="singleClick(item)" class="flex justify-between">
			<div class="flex-1">
				<div>
					{{ 'keyword.capitalize.attendees' | translate }}
				</div>
				<div class="font-bold">
					<ng-container *ngIf="item.entireBusiness; else MembersTemplate">
						{{ 'absence.form.inputs.entireBusiness.label' | translate }}
					</ng-container>
					<ng-template #MembersTemplate>
						{{ item?.memberIds?.length ?? 0 }}
					</ng-template>
				</div>
			</div>
		</div>
		<div (click)="singleClick(item)" class="flex justify-between">
			<div class="flex-1">
				<div>
					{{ 'keyword.capitalize.note' | translate }}
				</div>
				<div class="font-bold">
					{{ item.note | noData }}
				</div>
			</div>
		</div>
		<div (click)="singleClick(item)" class="grid grid-cols-2 gap-2">
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.updatedAt | dynamicDate }}
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.createdAt | dynamicDate }}
					</div>
				</div>
			</div>
		</div>
	</bee-card>
</div>
<utility-table-state-pagination-component
	[mobileMode]="true"
	(page)="pageChange($event)"
	[tableState]="tableState"/>
