<card-ion-list-smart-component [itemTemplate]="itemTemplate">

	<ng-template #itemTemplate let-item="item">
		<lightweight-order-service-card-molecule [item]="item" class="m-2"/>
	</ng-template>

	<not-found-table-data-component
		class="block h-full"
		(clickListener)="openForm()"
		[showLinkToForm]="true"
		[linkLabel]="'order-service.button.create' | translate"
		[label]="'keyword.capitalize.dataNotFound' | translate">
		<payment-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
	</not-found-table-data-component>

</card-ion-list-smart-component>
