<ion-header>
	<ion-toolbar>
		<ion-title>{{ 'notificationSetting.modal.title' | translate }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="confirm()" [strong]="true">{{ 'keyword.capitalize.confirm' | translate }}</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	@if (askEmailNotifications) {
		<ion-item>
			<ion-toggle
				[formControl]="sendTypesFormGroup.controls.email">{{ 'notificationSetting.modal.sendEmails' | translate }}
			</ion-toggle>
		</ion-item>
	}
	@if (askSmsNotifications) {
		<ion-item>
			<ion-toggle
				[formControl]="sendTypesFormGroup.controls.sms">{{ 'notificationSetting.modal.sendSms' | translate }}
			</ion-toggle>
		</ion-item>
	}
</ion-content>
