<div class="card my-3">
  <div class="card-body py-0">
    <div class="d-flex justify-content-center my-3">
      <button
        class="btn btn-sm btn-falcon-default me-1"
        data-list-pagination="prev"
        title="Previous"
        type="button">
        <
      </button>
      <ul class="pagination mb-0"></ul>
      <button
        class="btn btn-sm btn-falcon-default ms-1"
        data-list-pagination="next"
        title="Next"
        type="button">
        >
      </button>
    </div>
  </div>
</div>

