@if (tableState(); as tableState) {
	<div class="flex flex-col divide-y divide-beeColor-200 my-4"
		 [class.h-[calc(100vh-134px)]]="!tableState.items.length">
		@for (item of tableState.items; track item._id) {
			<bee-card (click)="singleClick(item)"
					  class="focus:bg-beeColor-100 active:bg-beeColor-100 cursor-pointer transition-all hover:bg-beeColor-100 text-sm border-2 rounded-none border-transparent hover:border-blue-500 !gap-0"
					  [class.!border-green-500]="selectedIds.includes(item._id)">
				<div class="flex justify-between items-center gap-8">

					<div class="flex justify-between">
						<div class="flex-1">
							<div class="font-bold flex">
								<!--						{{ 'keyword.capitalize.fullName' | translate }}-->
								<div>{{ item.firstName | noData }}</div>&nbsp;<div>{{ item.lastName | noData }}</div>
							</div>
						</div>
					</div>

					@if (showSelectedStatus.state$ | async) {

						<div (click)="singleClick(item)">
							@if (selectedIds.includes(item._id)) {
								<i class="bi bi-check-circle text-green-600 text-xl"></i>
							} @else {
								<i class="bi bi-circle text-gray-600 text-xl"></i>
							}
						</div>
					}
				</div>
				<div class="">
					{{ item.email | noData }}
				</div>
				<div>{{ item.phone | noData }}</div>
			</bee-card>
		}
	</div>
	<utility-table-state-pagination-component
		[mobileMode]="true"
		(page)="pageChange($event)"
		[tableState]="tableState"/>
}
