<div class="flex flex-col gap-4 align-center justify-between relative">
	@if (loader.isTrue) {

		<div class="absolute bg-white/60 flex h-full items-center justify-center w-full">
			<utility-loader/>
		</div>
	}

	@if (localDateTimeControl().value) {

		@if (!groupedSlots.length) {

			{{ 'keyword.capitalize.dataNotFound' | translate }}

		}
	} @else {

		<div  class="italic leading-tight text-sm p-2 text-beeColor-500">
			{{ 'event.form.section.datetime.hint.selectDateToSelectTimeSlot' | translate }}
		</div>
	}
	@for (group of groupedSlots; track group.periodOfDay) {

		@if (group.slots.length) {

			<div>
				<div class="text-beeColor-500">{{ ('keyword.capitalize.periodOfDay.' + group.periodOfDay) | translate }}
				</div>
				<div #timeSlotsContainer class="grid grid-cols-4 gap-2 w-full">
					@if (group.slots.length) {
						@for (timeSlot of group.slots; track timeSlot.start) {
							<button
								(click)="selectDateItem(timeSlot.start)"
								[ngClass]="getClassList(isSelected(timeSlot.start))"
								class="min-w-[72px] flex flex-col items-center justify-center border rounded-md px-3 py-2"
								type="button">
								<span>{{ timeSlot.start.toFormat('HH:mm') }}</span>
							</button>
						}
					}
				</div>
			</div>
		}
	}

	<div class="inline-flex items-center justify-center w-full">
		<hr class="w-full h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
		<span
			class="italic leading-tight text-sm absolute px-3 text-beeColor-400 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">
			{{ 'keyword.lowercase.or' | translate }}
		</span>
	</div>

	<div>
		<!--		[additionalClassList]="isSelected(ownOptionOfStartTimeControl.value) && configurationForm.controls.ignoreEventChecks.value ? 'bg-blue-100 text-blue-600 border-blue-200' : ''"-->
		<datetime-local-input-component
			[control]="ownOptionOfStartTimeControl"
			[label]="'keyword.capitalize.ownOptionOfTime' | translate"/>
		<div class="italic leading-tight p-2 text-beeColor-500 text-sm">
			{{ 'keyword.capitalize.ownOptionOfTimeHint' | translate }}
		</div>

	</div>

</div>
