<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6">

	<form *ngIf="availableLanguages$ | async" class="flex flex-col gap-4">

		<service-form-image-block-component
			[presentationForm]="presentationForm"/>

		<service-services-form-component
			*ngIf="availableLanguages$ | async as availableLanguages"
			[form]="form.controls.languageVersions"
			[availableLanguages]="availableLanguages"/>

		<service-form-prices-block-component
			[durationConfigurationForm]="form.controls.configuration.controls.duration"
			[durationVersions]="form.controls.durationVersions"/>

		<utility-form-switch-active-block-component
			[label]="'service.keyword.capitalize.active' | translate"
			[control]="form.controls.active"/>

		<bee-card>
			<form-input
				inputType="number"
				[label]="'keyword.capitalize.order' | translate"
				[placeholder]="'service.form.order.input.placeholder' | translate"
				[control]="form.controls.order"/>
		</bee-card>

		<utility-button-save-container-component class="bottom-0">
			<button
				type="button"
				primary
				[isLoading]="form.pending"
				[disabled]="form.disabled"
				[scrollToFirstError]="true"
				(click)="save()">
				{{ 'keyword.capitalize.save' | translate }}
			</button>
		</utility-button-save-container-component>

	</form>

</div>

