<card-ion-list-smart-component [itemTemplate]="itemTemplate">

	<ng-template #itemTemplate let-item="item">

		<bee-card
			(click)="singleClick(item)"
			class="focus:bg-beeColor-100 active:bg-beeColor-100 cursor-pointer transition-all hover:bg-beeColor-100 text-sm border-2 rounded-none border-transparent hover:border-blue-500"
			[class.!border-green-500]="selectedIds.includes(item._id)">
			<div class="flex justify-between items-center gap-2">

				<div class="flex gap-2 justify-between flex-1">
					<div class="flex-1">
						<div>
							{{ 'absence.form.inputs.type.label' | translate }}
						</div>
						<div class="font-bold flex gap-2">
							{{ ('absence.type.' + item.type + '.label') | translate }}
						</div>
					</div>
				</div>

				<div class="flex justify-between flex-1">

					<div class="flex-1 self-start">
						<div>
							{{ 'keyword.capitalize.attendees' | translate }}
						</div>
						<div class="font-bold">
							@if (item.entireBusiness) {

								{{ 'absence.form.inputs.entireBusiness.label' | translate }}
							} @else {

								{{ item?.members?.length ?? 0 }}
							}
						</div>
					</div>

					<div class="flex gap-2">

						<div>
							<state-status-component [item]="item"/>
						</div>

					</div>
				</div>
			</div>
			<div class="grid grid-cols-2 gap-2">

				<div class="flex justify-between">
					<div class="flex-1">
						<div>
							{{ 'keyword.capitalize.start' | translate }}
						</div>
						<div class="font-bold">
							{{ item.start | dynamicDate }}
						</div>
					</div>
				</div>
				<div class="flex justify-between">
					<div class="flex-1">
						<div>
							{{ 'keyword.capitalize.end' | translate }}
						</div>
						<div class="font-bold">
							{{ item.end | dynamicDate }}
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.note' | translate }}
					</div>
					<div class="font-bold">
						{{ item.note | noData }}
					</div>
				</div>
			</div>
		</bee-card>

	</ng-template>

	<not-found-table-data-component
		class="block h-full"
		(clickListener)="openForm()"
		[showLinkToForm]="true"
		[linkLabel]="'absence.button.create' | translate"
		[label]="'keyword.capitalize.dataNotFound' | translate">
		<app-absence-auto-refresh-component/>
	</not-found-table-data-component>

</card-ion-list-smart-component>
