<card>

	<div class="flex justify-between">
		<strong class="dark:text-white">{{ 'client.profile.form.section.gallery.title' | translate }}</strong>
		<button class="text-beeColor-500 dark:text-beeColor-400 hover:text-beeColor-600 dark:hover:text-beeColor-500"
						(click)="toggleInfo.toggle()">
			<i class="bi" [class.bi-eye]="toggleInfo.isOff" [class.bi-eye-slash]="toggleInfo.isOn"></i>
		</button>
	</div>

	<div class="grid grid-cols-2 gap-4">
		<client-image-gallery-business-profile-component
			class="col-span-2 md:col-span-1"
			*ngFor="let control of form.controls.images.controls; let index = index;"
			(remove)="removeImage(index)"
			[mediaId]="getMediaId(index)"
			[showHit]="toggleInfo.isOn"
			[index]="index"
			[control]="control"/>
	</div>

	<div class="text-beeColor-500">
		{{ 'client.profile.form.section.gallery.comment' | translate }}
	</div>
</card>
