:host {

	ngx-datatable::ng-deep {

		@apply bg-white;

		datatable-header {

			@apply border-b;

			.datatable-header-inner {

				@apply h-full;

				.datatable-row-center {

					@apply flex h-full items-center;

					datatable-header-cell {

						@apply px-2;

						.datatable-header-cell-template-wrap {

							.datatable-icon-sort-unset {

							}

							.sort-desc {

								&:before {
									content: "\F573";
									display: inline-block;
									font-family: "bootstrap-icons" !important;
									font-style: normal;
									font-weight: normal !important;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									vertical-align: -0.125em;
									-webkit-font-smoothing: antialiased;
								}

							}

							.sort-asc {

								&:before {
									content: "\F571";
									display: inline-block;
									font-family: "bootstrap-icons" !important;
									font-style: normal;
									font-weight: normal !important;
									font-variant: normal;
									text-transform: none;
									line-height: 1;
									vertical-align: -0.125em;
									-webkit-font-smoothing: antialiased;
								}

							}

							.sort-btn {

							}

							.datatable-icon-up {

							}

						}

					}

				}

				.datatable-row-right {

					//@apply flex h-full items-center bg-white border-l;
					@apply h-0;

					datatable-header-cell {

						@apply px-2;

						.datatable-header-cell-template-wrap {


						}

					}

				}

			}

		}

		datatable-body {

			overflow: auto;

			datatable-selection {

				datatable-row-wrapper {

					@apply transition-all hover:bg-beeColor-100 dark:hover:bg-beeDarkColor-700 cursor-pointer active:bg-beeColor-200 dark:active:bg-beeDarkColor-800;

					datatable-body-row {

						@apply border-b;

						datatable-body-cell {

							@apply flex items-center px-2;

						}

						.datatable-row-right {

							@apply bg-white border-l;

							datatable-body-cell {

								@apply flex h-full items-center px-2;

							}

						}

					}

				}

			}

		}

		datatable-footer {

			@apply border-t;

			.page-count {
				@apply px-2
			}

			datatable-pager {

				@apply pr-2;

				.pager {

					@apply border rounded-md divide-x;

					li {

						&:first-child {

							a {
								@apply rounded-l-md;
							}

						}

						&:last-child {

							a {
								@apply rounded-r-md;
							}

						}

						a {

							@apply
							cursor-pointer
							relative
							inline-flex
							items-center
							px-4
							py-2
							text-sm
							font-semibold
							text-beeColor-900
							dark:text-white
							dark:ring-beeDarkColor-600
							hover:bg-beeColor-100
							dark:hover:bg-beeDarkColor-600
							focus:z-20
							focus:outline-offset-0;


							.datatable-icon-right:before {
								content: "\F285";
								display: inline-block;
								font-family: "bootstrap-icons" !important;
								font-style: normal;
								font-weight: normal !important;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								vertical-align: -0.125em;
								-webkit-font-smoothing: antialiased;
							}

							.datatable-icon-skip:before {
								content: "\F277";
								display: inline-block;
								font-family: "bootstrap-icons" !important;
								font-style: normal;
								font-weight: normal !important;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								vertical-align: -0.125em;
								-webkit-font-smoothing: antialiased;
							}

							.datatable-icon-left:before {
								content: "\F284";
								display: inline-block;
								font-family: "bootstrap-icons" !important;
								font-style: normal;
								font-weight: normal !important;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								vertical-align: -0.125em;
								-webkit-font-smoothing: antialiased;
							}

							.datatable-icon-down:before {
								content: "\eb28";
							}

							.datatable-icon-prev:before {
								content: "\F276";
								display: inline-block;
								font-family: "bootstrap-icons" !important;
								font-style: normal;
								font-weight: normal !important;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								vertical-align: -0.125em;
								-webkit-font-smoothing: antialiased;
							}

						}

						&.pages {


						}

						&.active {

							a {
								@apply bg-beeColor-100 dark:bg-beeDarkColor-700;
							}

						}

					}
				}
			}
		}
	}
}
