<strong class="text-2xl dark:text-white">{{ 'keyword.capitalize.clients' | translate }}</strong>

<div class="flex flex-col gap-4 mt-4">

	<div class="flex flex-col gap-3">

		<event-attendant-component
			*ngFor="let attendant of form.controls; let index = index"
			(removeEmitter)="remove(index)"
			[index]="index"
			[enableRemove]="form.controls.length > 1 || form.controls[0].controls.customer.disabled"
			[form]="attendant.controls.customer"/>

	</div>

	<div class="block">

		<!--    <button type="button" primaryLink (click)="form.pushNewOne()">-->
		<!--      <i class="bi bi-plus-lg"></i>-->
		<!--      {{ 'event.form.section.attendant.button.add' | translate }}-->
		<!--    </button>-->

		<button type="button" primaryLink (click)="selectCustomer()">
			<i class="bi bi-list-check"></i>
			{{ 'event.form.section.attendant.button.select' | translate }}
		</button>

	</div>

</div>
