<div class="block max-w-full overflow-x-auto h-[calc(100dvh-80px)] md:h-[calc(100vh)]">
<!--	<app-order-filter-component/>-->

	@if (tableState(); as data) {

		@if (data.total > 0) {

			<order-list-of-card-collection-by-date-component [itemsWithDate]="itemsWithDate" [tableState]="data"/>

		} @else {

			<not-found-table-data-component
				class="block h-full"
				[linkLabel]="'order.button.create' | translate"
				[label]="'keyword.capitalize.dataNotFound' | translate">

				<app-order-auto-refresh-component [resetPage]="true" [resetParams]="true"/>

			</not-found-table-data-component>

		}

	}

</div>
