<div [tableFlex]="tableConfiguration">
	<div tableRowFlex="header">
		<div tableColumnFlex="attendants">
			{{ 'keyword.capitalize.attendees' | translate }}
		</div>
		<div tableColumnFlex="service">
			{{ 'event.keyword.capitalize.service' | translate }}
		</div>
		<div tableColumnFlex="duration">
			{{ 'keyword.capitalize.duration' | translate }}
		</div>
		<div tableColumnFlex="price">
			{{ 'keyword.capitalize.price' | translate }}
		</div>
		<div tableColumnFlex="start" data-orderBy="start">
			<div class="flex gap-3 items-center">
				{{ 'event.keyword.capitalize.start' | translate }}
				<utility-sort-indicator
					orderBy="start"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="end" data-orderBy="end">
			<div class="flex gap-3 items-center">
				{{ 'event.keyword.capitalize.end' | translate }}
				<utility-sort-indicator
					orderBy="end"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="status" data-orderBy="status">
			<div class="flex gap-3 items-center">
				{{ 'event.keyword.capitalize.status' | translate }}
				<utility-sort-indicator
					orderBy="status"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="createdAt" data-orderBy="createdAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.createdAt' | translate }}
				<utility-sort-indicator
					orderBy="createdAt"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="updatedAt" data-orderBy="updatedAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.updatedAt' | translate }}
				<utility-sort-indicator
					orderBy="updatedAt"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="action" class="border-l sticky right-0">
			{{ 'keyword.capitalize.action' | translate }}
		</div>
	</div>
	<!-- Column Cell	-->
	<div tableBodyFlex>
		<div tableRowFlex="body" (click)="doubleClick(item._id)" *ngFor="let item of tableState.items">
			<div tableColumnFlex="attendants">
				<i class="bi bi-person"></i>
				{{ item?.attendees?.length }}
			</div>
			<div tableColumnFlex="service">
				<span [title]="item?.services?.[0]?.languageVersions?.[0]?.title" class="truncate">
					{{ item?.services?.[0]?.languageVersions?.[0]?.title }}
				</span>
			</div>
<!--			TODO delete variable from tableColumnFlex-->
			<div tableColumnFlex="duration" #durationColumn [attr.data-value]="item?.services?.[0]?.durationVersions?.[0]?.durationInSeconds ?? 0 | humanizeDuration">
				<span [title]="durationColumn.getAttribute('data-value')" class="truncate">
					{{ durationColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="price" #priceColumn [attr.data-value]="(item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.price ?? 0) | currency: item.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.currency: 'symbol-narrow'">
				<span [title]="priceColumn.getAttribute('data-value')" class="truncate">
					{{ priceColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="start" #startColumn [attr.data-value]="(item.start ? (item.start | dynamicDate) : null) ?? 'Invalid Time'">
				<span [title]="startColumn.getAttribute('data-value')" class="truncate">
					{{ startColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="end" #endColumn [attr.data-value]="(item.end ? (item.end | dynamicDate) : null) ?? 'Invalid Time'">
				<span [title]="endColumn.getAttribute('data-value')" class="truncate">
					{{ endColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="status">
				<div eventStatusStyle mode="text" [status]="item.status"></div>
			</div>
			<div tableColumnFlex="createdAt" #createdAtColumn [attr.data-value]="item.createdAt | dynamicDate">
				<span [title]="createdAtColumn.getAttribute('data-value')" class="truncate">
					{{ createdAtColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="updatedAt" #updatedAtColumn [attr.data-value]="item.updatedAt | dynamicDate">
				<span [title]="updatedAtColumn.getAttribute('data-value')" class="truncate">
					{{ updatedAtColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="action" class="border-l sticky right-0">
				<utility-table-column-action [id]="item._id" (delete)="delete($event)"/>
			</div>
		</div>
	</div>
</div>
<utility-table-state-pagination-component
	(clearCache)="clearTableCache()"
	(page)="pageChange($event)"
	[tableState]="tableState"/>

