<!--<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState().items.length">-->
<!--	@for (item of tableState().items; track item._id) {-->
<!--		<bee-card class="text-sm border-2 border-transparent hover:border-blue-500 !gap-0"-->
<!--				  [class.!border-green-500]="selectedIds.includes(item._id)">-->
<!--			<div class="flex justify-between items-center gap-8">-->

<!--				<div (click)="singleClick(item)" class="flex justify-between">-->
<!--					<div class="flex-1">-->
<!--						<div class="font-bold flex">-->
<!--							<div>-->
<!--								{{ item.sku | noData }}-->
<!--							</div>&nbsp;-->
<!--							<div> -->
<!--								{{ item.price?.value | currency: item.price?.currency : 'symbol-narrow' }}	-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				@if (showAction.state$ | async) {-->
<!--					<product-row-action-button-component [item]="item" [id]="item._id"/>-->
<!--				}-->

<!--				@if (showSelectedStatus.state$ | async) {-->

<!--					<div (click)="singleClick(item)">-->
<!--						@if (selectedIds.includes(item._id)) {-->
<!--							<i class="bi bi-check-circle text-green-600 text-xl"></i>-->
<!--						} @else {-->
<!--							<i class="bi bi-circle text-gray-600 text-xl"></i>-->
<!--						}-->
<!--					</div>-->
<!--				}-->
<!--			</div>-->
<!--			<div (click)="singleClick(item)">-->
<!--				<div class="flex flex-col divide-y" >-->
<!--					@for (languageVersion of item.languageVersions; track languageVersion.language) {-->
<!--	-->
<!--						<div-->
<!--							class="relative flex gap-2 items-start py-2 font-sans text-xs font-bold uppercase text-neutral-900">-->
<!--							<span-->
<!--								class="relative flex items-center justify-center p-0 cursor-pointer border-2 border-neutral-200 px-1 rounded-lg">-->
<!--								{{ languageVersion.language }}-->
<!--							</span>-->
<!--							<div>-->
<!--								{{ languageVersion.title }}-->
<!--							</div>-->
<!--						</div>-->
<!--					}-->
<!--				</div>-->
<!--				<div [title]="item.tags?.join(', ')" class="truncate">-->
<!--					<ion-chip *ngFor="let tag of item.tags">-->
<!--						{{ tag }}-->
<!--					</ion-chip>-->
<!--				</div>-->
<!--				<div class="">-->
<!--					{{ item.createdAt | dynamicDate }}-->
<!--				</div>-->
<!--			</div>-->
<!--		</bee-card>-->
<!--	}-->
<!--</div>-->
<!--<utility-table-state-pagination-component-->
<!--	[mobileMode]="true"-->
<!--	(page)="pageChange($event)"-->
<!--	[tableState]="tableState()"/>-->
