<div class="flex flex-col gap-3 dark:text-white">
	<!-- Day Slots Title -->
	<div class="flex items-center justify-center gap-3">
		<span class="text-2xl font-medium">{{ daySlotsTitle }}</span>
	</div>

	<!-- Navigation Buttons -->
	<div class="flex items-center justify-between gap-1">
		<event-select-time-slot-button-arrow-component [left]="true" (click)="prevPackOfDates()"/>

		<!-- Day Slots Container -->
		<div #daySlotsContainer class="flex gap-2 overflow-x-auto w-full justify-center items-center">
			@for (dayItem of dayItemList(); track $index) {

				<div class="relative pb-0.5 pt-1">
					@if (dayItem.isToday) {

						<div

							class="w-[10px] h-[10px] rounded-full absolute left-[25px] -top-0"
							[ngClass]="{
                'bg-blue-200': isSelected(dayItem.datetime),
                'bg-beeColor-300': !isSelected(dayItem.datetime)
                }">
						</div>
					}
					@if (dayItem.slots.length || dayItem.events.length) {

						<div

							class="w-[20px] h-[20px] flex items-center justify-center text-sm rounded-full absolute -right-1 -top-0"
							#daySlotCounterRef
							[ngClass]="{
                'bg-blue-200 text-blue-600': isSelected(dayItem.datetime),
                'bg-beeColor-300 text-beeColor-600': !isSelected(dayItem.datetime)
                }">
							@if ((dayItem.slots.length || dayItem.events.length || 0) <= 9) {

								{{ dayItem.slots.length || dayItem.events.length || 0 }}
							} @else {
								9 <span class="text-xs">+</span>
							}
						</div>
					}

					<button
						type="button"
						(click)="selectDateItem(dayItem.datetime)"
						[ngClass]="getClassList(isSelected(dayItem.datetime))"
						[disabled]="preventPastDates() && (dayItem.isPast || (loader().state$ | async))"
						class="min-w-[60px] max-w-[60px] min-h-[60px] max-h-[60px] leading-tight flex flex-col items-center justify-center ring-1 ring-inset rounded-md p-3">
						<span class="font-bold">{{ dayItem.datetime.day }}</span>
						<span>{{ dayItem.datetime.weekdayShort }}</span>
					</button>

					@if (controlsAreRequired() && hasSelectedTimeSlot(dayItem.datetime)) {

						<div
							class="w-[30px] h-[6px] rounded-full absolute left-[15px] -bottom-0"
							[ngClass]="{
							'bg-blue-200': isSelected(dayItem.datetime),
							'bg-beeColor-300': !isSelected(dayItem.datetime)
						}"
						></div>
					}
				</div>
			}
		</div>

		<event-select-time-slot-button-arrow-component [right]="true" (click)="nextPackOfDates()"/>
	</div>
</div>
