<card-ion-list-smart-component [itemTemplate]="itemTemplate">

	<ng-template #itemTemplate let-item="item">
		<bee-card (click)="singleClick(item)"
				  class="focus:bg-beeColor-100 active:bg-beeColor-100 cursor-pointer transition-all hover:bg-beeColor-100 text-sm border-2 rounded-none border-transparent hover:border-blue-500"
				  [class.!border-green-500]="selectedIds.includes(item._id)">
			<div class="flex justify-between items-center">

				<div class="flex justify-between w-full gap-4 items-center">
					<div
						class="rounded-full bg-beeColor-400 min-h-12 min-w-12 max-h-12 max-w-12 h-12 w-12 flex justify-center items-center">
						@if (item?.avatar?.url; ) {
							<img [src]="item?.avatar?.url"
								 class="min-h-12 min-w-12 max-h-12 max-w-12 h-12 w-12 rounded-full object-cover" alt="">
						} @else {

							<div class="text-white text-xs font-bold">{{ item?.firstName?.[0] ?? '' }}</div>
							<div class="text-white text-xs font-bold">{{ item?.lastName?.[0] ?? '' }}</div>
						}
					</div>
					<div class="flex-1 flex flex-col">
						@if (item.firstName; as firstName) {
							<span
								[class.text-base]="firstName.length > 10"
								[class.text-md]="firstName.length > 9 && firstName.length < 11"
								[class.text-lg]="firstName.length > 4 && firstName.length < 9"
								[class.text-xl]="firstName.length < 5"
								class="font-extrabold break-all">{{ item.firstName }}</span>
						}
						@if (item.lastName) {
							<span class="break-all">{{ item.lastName }}</span>
						}
					</div>
				</div>

				@if (tableService?.showSelectedStatus?.state$ | async) {

					<div>
						@if (selectedIds.includes(item._id)) {

							<div
								class="w-full border border-green-200 bg-green-50 text-green-600 px-2 py-1 rounded-2xl">
								{{ 'keyword.capitalize.selected' | translate }}
							</div>
						} @else {

							<div
								class="w-full border border-blue-200 bg-blue-50 text-blue-600 px-2 py-1 rounded-2xl">
								{{ 'keyword.capitalize.select' | translate }}
							</div>
						}
					</div>
				}
			</div>
		</bee-card>
	</ng-template>

	<not-found-table-data-component
		class="block h-full"
		(clickListener)="openForm()"
		[showLinkToForm]="true"
		[linkLabel]="'member.button.create' | translate"
		[label]="'keyword.capitalize.dataNotFound' | translate">
		<member-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
	</not-found-table-data-component>

</card-ion-list-smart-component>
