<div class="flex flex-col divide-y divide-neutral-200 my-4" [class.h-[calc(100vh-134px)]]="!list.length">
	@for (item of list; track item._id) {
		<bee-card (click)="singleClick(item)" class="focus:bg-beeColor-100 active:bg-beeColor-100 cursor-pointer transition-all hover:bg-beeColor-100 text-sm border-2 rounded-none border-transparent hover:border-blue-500"
				  [class.!border-green-500]="selectedIds.includes(item._id)">
			<div class="flex justify-between items-start gap-2">
				<div class="w-full flex flex-col gap-2">
					<div class="flex justify-between gap-2">
						<div class="flex gap-2">
							<div>
								@if (item.presentation?.color) {

									<div class="h-7 w-10 rounded-full"
										 [style.background-color]="item.presentation?.color ?? ''"></div>
								} @else {

									<div class="h-7 w-10 rounded-full flex justify-center items-center bg-gray-100">
										❓
									</div>
								}
							</div>

							<div
								[innerHTML]="durationVersionHtmlHelper.getPriceValue(item)"
								class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
							></div>
							<div
								[innerHTML]="durationVersionHtmlHelper.getDurationValue(item)"
								class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
							></div>
						</div>

						@if (showSelectedStatus.state$ | async) {

							<div>
								@if (selectedIds.includes(item._id)) {
									<i
										class="bi bi-check-circle text-green-600 text-xl"></i>
								} @else {
									<i
										class="bi bi-circle text-gray-600 text-xl"></i>
								}
							</div>
						}
					</div>
					<div class="flex flex-col divide-y rounded-2xl bg-neutral-100 border">
						@for (languageVersion of item.languageVersions; track languageVersion.language) {

							<div
								class="relative px-2 flex gap-2 items-start py-2 font-sans text-xs font-bold uppercase text-neutral-900">
								<label
									class="relative flex items-center justify-center p-0 cursor-pointer border-2 border-neutral-200 px-1 rounded-lg">
									{{ languageVersion.language }}
								</label>
								<div>
									{{ languageVersion.title }}
								</div>
							</div>
						}
					</div>
				</div>

			</div>
		</bee-card>
	}
</div>
<utility-table-state-pagination-component
	[mobileMode]="true"
	(page)="pageChange($event)"
	[tableState]="tableState()"/>
