<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!list.length">
	@for (item of list; track item._id) {
		<bee-card class="text-sm cursor-pointer border-2 border-transparent hover:border-blue-500"
				  [class.!border-green-500]="selectedIds.includes(item._id)">
			<div class="flex justify-between items-start gap-2">
				<div class="w-full flex flex-col gap-2" (click)="singleClick(item)">
					<div class="flex justify-between gap-2">
						<div class="flex gap-2">
							<div>
								<div class="h-7 w-10 rounded-full" *ngIf="item.presentation?.color"
									 [style.background-color]="item.presentation?.color ?? ''"></div>
								<div class="h-7 w-10 rounded-full flex justify-center items-center bg-gray-100"
									 *ngIf="!item.presentation?.color">
									❓
								</div>
							</div>

							<div
								[innerHTML]="durationVersionHtmlHelper.getPriceValueV2(item)"
								class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
							></div>
							<div
								[innerHTML]="durationVersionHtmlHelper.getDurationValueV2(item)"
								class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
							></div>
						</div>

						@if (showSelectedStatus.state$ | async) {
							<div (click)="singleClick(item)" class="text-xl">
								@if (selectedIds.includes(item._id)) {
									<app-icon name="bootstrapCheckCircle" class="text-green-600"/>
								} @else {
									<app-icon name="bootstrapCircle" class="text-gray-600"/>
								}
							</div>
						}
					</div>
					<div class="flex flex-col divide-y">
						@for (languageVersion of item.languageVersions; track languageVersion.language; let i = $index) {
							<div
								class="relative flex gap-2 items-start py-2 font-sans text-xs font-bold uppercase text-neutral-900">
								<label
									class="relative flex items-center justify-center p-0 cursor-pointer border-2 border-neutral-200 px-1 rounded-lg">
									{{ languageVersion.language }}
								</label>
								<div>
									{{ languageVersion.title }}
								</div>
							</div>
						}
					</div>
				</div>
				<service-row-action-button-component *ngIf="showAction.state$ | async" [item]="item" [id]="item._id"/>
			</div>
		</bee-card>
	}
</div>
<utility-table-state-pagination-component
	[mobileMode]="true"
	(page)="pageChange($event)"
	[tableState]="tableState"/>
