<!--
	[actionColumn]="{
				name: '',
				cellTemplate: actionCellTemplate,
				sortable: false,
				frozenRight: true,
				minWidth: 56,
				width: 56
			}"-->
<app-table-ngx-datatable-smart-component
	(activate)="activate($event)"
	[columnList]="columnList()">

	<not-found-table-data-component
		class="block h-full"
		(clickListener)="openForm()"
		[showLinkToForm]="true"
		[linkLabel]="'product.button.create' | translate"
		[label]="'keyword.capitalize.dataNotFound' | translate">

		<product-auto-refresh-component [resetPage]="true" [resetParams]="true"/>

	</not-found-table-data-component>

</app-table-ngx-datatable-smart-component>
<ng-template #actionCellTemplate let-row="row">
	<product-tag-row-action-button-component
		[item]="row"
		[id]="row._id"/>
</ng-template>
<ng-template #stateCellTemplate let-row="row">
	<div activeStyle [state]="row.state">
	</div>
</ng-template>
<ng-template #syncedAtTemplate let-row="row">

	@if (row?.errors?.length) {

		<div>
		  <span class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-red-100 text-red-800 rounded-full dark:bg-red-500/10 dark:text-red-500">
			<svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			  <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
			  <path d="M12 9v4"></path>
			  <path d="M12 17h.01"></path>
			</svg>
			Attention
		  </span>
		</div>

	} @else {

		{{ row.syncedAt | date: 'short' }}

	}

</ng-template>
