<div class="block max-w-full overflow-x-auto h-[calc(100vh-64px)] md:h-[calc(100vh-65px)]">
	<customer-filter-component *ngIf="someDataExist.isOn"/>
	<ng-container *ngIf="tableState">
		<ng-container *ngIf="tableState.total > 0; else EmptyTemplate">
			<customer-card-list-component [tableState]="tableState"/>
		</ng-container>
		<ng-template #EmptyTemplate>
			<not-found-table-data-component
				class="block h-full"
				linkToForm="../form"
				[linkLabel]="'customer.button.create' | translate"
				[label]="'keyword.capitalize.dataNotFound' | translate">
				<customer-auto-refresh-component *ngIf="someDataExist.isOff" [resetPage]="true" [resetParams]="true"/>
			</not-found-table-data-component>
		</ng-template>
	</ng-container>
</div>
