<div class="block max-w-full" [ngClass]="{
'overflow-x-auto h-[calc(100dvh-64px)] md:h-[calc(100vh-65px)]': isPage()
}">
	<customer-filter-component [showButtonGoToForm]="showButtonGoToForm()"/>

	@if (tableState) {

		@if (tableState.total > 0) {

			<customer-card-list-component [tableState]="tableState"/>

		} @else {

			<not-found-table-data-component
				class="block h-full"
				(clickListener)="openForm()"
				[showLinkToForm]="true"
				[linkLabel]="'customer.button.create' | translate"
				[label]="'keyword.capitalize.dataNotFound' | translate">

				<customer-auto-refresh-component [resetPage]="true" [resetParams]="true"/>

			</not-found-table-data-component>

		}

	}
</div>
