<utility-default-panel-component>
	<div class="p-2">
		<app-date-slider-control-component
			[form]="filterStateFormGroup"/>
	</div>
</utility-default-panel-component>
@if (activeMembers$ | async; as activeMembers) {

	@if (baseCurrency$ | async; as baseCurrency) {

		@if (clientItem$ | async; as clientItem) {

			<div class="min-h-screen bg-white">

				@if (analytic$ | async; as analytic) {

					<div class="flex flex-col w-full divide-y">

						<div class="p-2">

							<app-radio-tailwindcss-component
								[control]="control"
								[items]="items"/>

						</div>

						<div class="flex justify-center w-full">

							@if (clientItem._id === control.value) {

								<div class="p-2 flex flex-col w-full max-w-[100vw] md:max-w-xl gap-2">

									<div class="flex flex-wrap gap-2">
										<orders-counter-statistic-component [analytic]="analytic"/>
										<order-services-counter-statistic-component [analytic]="analytic"/>
										<customers-counter-statistic-component [analytic]="analytic"/>
										<revenue-statistic-component [analytic]="analytic"/>
									</div>
									<services-counter-statistic-component [analytic]="analytic"/>
									<total-revenue-diagram [analytic]="analytic"/>
									<revenue-summary-diagram [analytic]="analytic"/>

								</div>

							} @else {

								@if (analytic.specialistRecord[control.value]; as specialist) {

									<div class="p-2 flex flex-col w-full max-w-[100vw] md:max-w-xl gap-2">

										<div class="flex flex-wrap gap-2">
											<orders-counter-statistic-component [analytic]="specialist"/>
											<order-services-counter-statistic-component [analytic]="specialist"/>
											<customers-counter-statistic-component [analytic]="specialist"/>
											<revenue-statistic-component [analytic]="specialist"/>
										</div>
										<!--										<services-counter-statistic-component  [analytic]="specialist"/>-->
										<total-revenue-diagram [analytic]="specialist"/>

									</div>
								}

							}

						</div>

					</div>

				} @else {
					<utility-loader/>
				}

			</div>

		} @else {
			<utility-loader/>
		}

	} @else {
		<utility-loader/>
	}

} @else {
	<utility-loader/>
}
