<div class="grid grid-rows-[60px] h-[calc(100%-60px)] md:h-full">

	<filter-calendar-with-specialist
		[orderServiceStatusesControl]="orderServiceStatusesControl"/>

	<!-- Grid of hour rows -->
	<div #calendar class="flex relative overflow-auto h-0 min-h-full bg-white snap-mandatory snap-x scroll-pl-[50px]">

		<div
			class="bg-white border-r flex flex-col left-0 sticky z-10 text-sm text-center snap-start"
			data-is-column="true"
			[style.width]="calendarWithSpecialistLocaStateService.hoursWidthInPx"
			[style.min-height]="calendarWithSpecialistLocaStateService.columnHeightInPx">

			@if (showTimeLine$ | async) {

				<app-time-line-calendar-with-specialist-widget-component [showLine]="false"/>

			}

			<div
				[style.min-height]="calendarWithSpecialistLocaStateService.specialistCellHeightInPx"
				class="z-[12] bg-white sticky top-0 border-b">
			</div>

			@for (hourRow of calendarWithSpecialistLocaStateService.hourRowListInPx; track hourRow.hour) {

				<div
					class="border-b text-slate-400 text-right px-1 sticky left-0"
					[style.min-height]="calendarWithSpecialistLocaStateService.oneHourInPx">
					{{ hourRow.hour }}
				</div>

			}

		</div>

		@for (member of calendarWithSpecialistLocaStateService.members; let index = $index; track member._id) {

			<div
				#column
				(mouseover)="mouseover($event)"
				(mouseenter)="mouseEnter($event)"
				(touchstart)="mouseover($event)"
				(touchend)="mouseEnter($event)"
				[attr.data-index]="index + 1"
				class="flex flex-col flex-1 border-r relative bg-[#00000008] snap-start" data-is-column="true"
				[style.width]="calendarWithSpecialistLocaStateService.cellWidthInPx"
				[style.min-width]="calendarWithSpecialistLocaStateService.cellWidthInPx"
				[style.min-height]="calendarWithSpecialistLocaStateService.columnHeightInPx">

				<app-schedule-element-calendar-with-specialist-widget-component [index]="index" [calendar]="calendar"
																				[member]="member">

					@for (hourRow of calendarWithSpecialistLocaStateService.hourRowListInPx; track hourRow.hour) {

						<div
							class="border-b"
							[attr.data-column-index]="index + 1"
							[style.min-height]="calendarWithSpecialistLocaStateService.oneHourInPx">
						</div>

					}

				</app-schedule-element-calendar-with-specialist-widget-component>

				@if (showTimeLine$ | async) {

					<app-time-line-calendar-with-specialist-widget-component [showCurrentTime]="false"/>

				}

				<div
					[style.min-height]="calendarWithSpecialistLocaStateService.specialistCellHeightInPx"
					class="z-[12] p-1 bg-white sticky top-0 border-b">

					<event-header-calendar-with-specialist-widget-component [member]="member"/>

				</div>


				@for (createEventButton of calendarWithSpecialistLocaStateService.createEventButtonList;
					track createEventButton.id) {

					<div
						[class.border-b]="createEventButton.isLastPeace"
						[attr.data-column-index]="index + 1"
						[style.min-height]="createEventButton.heightInPx">

						<app-empty-slot-calendar-with-specialist-widget-component
							[class.hidden]="thereSomeEventCalendarWithSpecialistWidgetComponent"
							[startInMinutes]="createEventButton.startInMinutes"
							[durationInMinutes]="createEventButton.durationInMinutes"
							[member]="member"/>

					</div>

				}

				@if (eventsBySpecialistId[member._id]; as events) {

					@for (event of events; track event._id) {

						<app-event-calendar-with-specialists-widget-component
							[attr.data-member-id]="member._id"
							[attr.data-member-first-name]="member.firstName"
							[attr.data-member-last-name]="member.lastName"
							[item]="event"/>

					}

				}


			</div>

		}

	</div>

</div>
