<event-filter-component/>
<ng-container *ngIf="tableState">
	<ng-container *ngIf="tableState.total > 0; else EmptyTemplate">
		<event-table-list-component [tableState]="tableState"/>
	</ng-container>
	<ng-template #EmptyTemplate>
		<not-found-table-data-component
			linkToForm="../form"
			[showLinkToForm]="true"
			[linkLabel]="'keyword.capitalize.add-event' | translate"
			[label]="'keyword.capitalize.dataNotFound' | translate">
			<event-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
		</not-found-table-data-component>
	</ng-template>
</ng-container>
