@if (item(); as item) {
	<div class="bg-white">
		<dl class="divide-y divide-gray-100">

			<div class="px-3 py-3 flex gap-2 items-center">

				@switch (item.action.type) {
					@case (balanceActionTypeEnum.income) {
						<div class="rounded-full flex justify-center items-center w-10 h-10 min-w-10 min-h-10 bg-green-100 text-green-500 p-1">
							<i class="bi bi-arrow-down-left"></i>
						</div>
					}
					@case (balanceActionTypeEnum.outcome) {
						<div class="rounded-full flex justify-center items-center w-10 h-10 min-w-10 min-h-10 bg-red-100 text-red-500 p-1">
							<i class="bi bi-arrow-up-right"></i>
						</div>
					}
				}
				<dd class="text-4xl font-extrabold leading-6" [class.text-green-600]="item.isIncome()" [class.text-red-600]="item.isOutcome()">
					{{ item.action.amount | currency: item.action.currency: 'symbol-narrow' }}
				</dd>

			</div>

			<div class="px-3 py-3 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="font-medium leading-6 text-gray-900">
					{{ 'sidebar.balance' | translate }}
				</dt>
				<dd class="leading-6 text-gray-700 sm:col-span-2">
					{{ item.amountBeforeAction | currency: item.currency: 'symbol-narrow' }}
					<i class="bi bi-arrow-right-short"></i>
					{{ item.amountAfterAction | currency: item.currency: 'symbol-narrow' }}
				</dd>
			</div>

			<div class="px-3 py-3 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class=" font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.note' | translate }}
				</dt>
				<dd class=" leading-6 text-gray-700 sm:col-span-2">
					{{ item.action.systemComment }}
				</dd>
			</div>
		</dl>
	</div>

	<standard-details-entity [item]="item"/>
}
