<div class="relative">
	<div #labelOfDragAndDropZone dragAndDrop (fileDropped)="onFilesDropped($event)"
			 class="flex items-center justify-center w-full z-50">
		<label [for]="'image-gallery-business-profile-dropzone-file-' + index"
					 class="text-center flex flex-col items-center justify-center w-full relative h-64 border-2 border-beeColor-300 border-dashed rounded-xl cursor-pointer bg-beeColor-50 hover:bg-beeColor-100 dark:hover:bg-beeDarkColor-800 dark:bg-beeColor-700 dark:border-beeDarkColor-600 dark:hover:border-beeDarkColor-500 dark:hover:bg-beeDarkColor-600">
			<img
				#previewImage
				bocMedia
				[src]="mediaId"
				twHeight="h-full"
				twWidth="w-full"
				class="hidden absolute top-0 left-0 object-cover z-10 rounded-xl w-full h-full" alt="Uploaded Image"/>
			<ng-container *ngIf="showHit">
				<ng-container *ngIf="isEmptyControl">
					<utility-placeholder-image-component
						[labelOfDragAndDropZone]="labelOfDragAndDropZone"/>
				</ng-container>
				<ng-container *ngIf="isNotEmptyControl">
					<button
						(click)="remove.emit()"
						type="button"
						class="transition-all hover:shadow-2xl hover:bg-beeColor-600 hover:text-beeColor-50 absolute right-2 top-2 px-4 py-3 bg-white/50 text-xl z-10 rounded-full">
						<i class="bi bi-trash3"></i>
					</button>
				</ng-container>
			</ng-container>
			<input [id]="'image-gallery-business-profile-dropzone-file-' + index" type="file" #fileInput class="hidden"
						 (change)="onFileSelected($event)"
						 accept="image/*"/>
		</label>
	</div>
	<utility-invalid-message class="absolute" [control]="control"/>

</div>
