<ng-container *ngIf="initialized.isOn; else NotInitializedTemplate">
	<member-filter-component/>
	<ng-container *ngIf="tableState$ | async as tableState">
		<ng-container *ngIf="tableState.total > 0; else EmptyTemplate">
			<member-card-list-component *ngIf="isMobile$ | async" [tableState]="tableState"/>
			<member-table-list-component *ngIf="isNotMobile$ | async" [tableState]="tableState"/>
		</ng-container>
		<ng-template #EmptyTemplate>
			<not-found-table-data-component [label]="'keyword.capitalize.dataNotFound' | translate"/>
		</ng-template>
	</ng-container>
</ng-container>
<ng-template #NotInitializedTemplate>
	<div class="p-4">
		{{ 'keyword.capitalize.initializing' | translate }}...
	</div>
</ng-template>
