<div class="flex flex-col gap-4">
	<bee-card
		(click)="selectVariant(index)"
		*ngFor="let variant of variantList; let index = index;"
		[flexCol]="false"
		class="shadow-none"
		padding="p-0">


		<div class="flex-1 flex flex-col gap-4">
			<bee-duration-select-component
				[control]="variant.duration.control"
				[label]="'keyword.capitalize.duration' | translate"
				class="flex-1"/>

			<price-and-currency-component
				[currencyControl]="variant.currency.control"
				[currencyList]="(currencyList$ | async) ?? []"
				[label]="'keyword.capitalize.price' | translate"
				[priceControl]="variant.price.control"
				class="flex-1"/>
		</div>

		<div *ngIf="variantList.length > 1" [ngSwitch]="isSelected(index)">
			<div class="py-0.5">&nbsp;</div>
			<ng-container *ngSwitchCase="true">
				<ng-container *ngTemplateOutlet="SelectedTemplate"></ng-container>
			</ng-container>
			<ng-container *ngSwitchCase="false">
				<ng-container *ngTemplateOutlet="NotSelectedTemplate"></ng-container>
			</ng-container>
		</div>

	</bee-card>
</div>

<ng-template #NotSelectedTemplate>
	<div
		class="w-full border border-beeColor-200 bg-beeColor-50 text-beeColor-600 px-2 py-1 rounded-2xl">
		<i class="bi bi-circle"></i>
	</div>
</ng-template>

<ng-template #SelectedTemplate>
	<div
		class="w-full border border-green-200 bg-green-50 text-green-600 px-2 py-1 rounded-2xl">
		<i class="bi bi-check-circle"></i>
	</div>
</ng-template>
