<div class="block max-w-full" [ngClass]="{
'overflow-x-auto h-[calc(100dvh-64px)] md:h-[calc(100vh-65px)]': isPage()
}">
	<app-absence-filter-component [showButtonGoToForm]="showButtonGoToForm()"/>
	<ng-container *ngIf="tableState">
		<ng-container *ngIf="tableState.total > 0; else EmptyTemplate">
			<app-absence-card-list-component [tableState]="tableState"/>
		</ng-container>
		<ng-template #EmptyTemplate>
			<not-found-table-data-component
				class="block h-full"
				(clickListener)="openForm()"
				[showLinkToForm]="true"
				[linkLabel]="'absence.button.create' | translate"
				[label]="'keyword.capitalize.dataNotFound' | translate">
				<app-absence-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
			</not-found-table-data-component>
		</ng-template>
	</ng-container>
</div>
