<div class="card my-3" *ngIf="pagination.totalSize">
  <div class="card-body py-0">
    <div class="row my-3">
      <div class="col-lg-4 d-flex align-items-center">
        Total: {{ pagination.totalSize }}
      </div>

      <div class="col-lg-4 d-flex justify-content-center">
        <ng-container *ngIf="pagination.totalSize > 1">
          <button
            (click)="pagination.prevPage()"
            [disabled]="pagination.page === pagination.minPage"
            *ngIf="pagination.pages.length > 1"
            class="btn btn-sm btn-falcon-default me-2"
            data-list-pagination="prev"
            title="Previous"
            type="button">
            <
          </button>
          <button
            *ngFor="let page of pagination.pages"
            [class.disabled]="isNaN(page)"
            [class.active]="pagination.page === page"
            (click)="pagination.setPage(page)"
            class="btn btn-sm btn-falcon-default text-primary me-2 d-flex align-items-center">
            {{ isNaN(page) ? '...' : page }}
          </button>
          <button
            (click)="pagination.nextPage()"
            [disabled]="pagination.page === pagination.maxPage"
            *ngIf="pagination.pages.length > 1"
            class="btn btn-sm btn-falcon-default"
            data-list-pagination="next"
            title="Next"
            type="button">
            >
          </button>
        </ng-container>
      </div>

      <div class="col-lg-4">
        <form class="row gx-2 justify-content-end">
          <div class="col-auto">
            <small>Items per page: </small>
          </div>
          <div class="col-auto">
            <select class="form-select" (change)="changePageSize($event)">
              <option *ngFor="let size of paginationRef.availablePageSize" [ngValue]="size"
                      [selected]="pagination.pageSize === size">
                {{ size }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

