<div class="card my-3">
  <div class="card-body py-0">
    <div class="row my-3">
      <div class="col-lg-4 d-flex align-items-center">
        Total: 802
      </div>

      <div class="col-lg-4 d-flex justify-content-center">
        <button
          class="btn btn-sm btn-falcon-default me-2"
          data-list-pagination="prev"
          title="Previous"
          type="button">
          <
        </button>
        <a class="btn btn-sm btn-falcon-default text-primary me-2" href="#!">1</a>
        <a class="btn btn-sm btn-falcon-default me-2" href="#!">2</a>
        <a class="btn btn-sm btn-falcon-default" href="#!">35</a>
        <button
          class="btn btn-sm btn-falcon-default ms-2"
          data-list-pagination="next"
          title="Next"
          type="button">
          >
        </button>
      </div>

      <div class="col-lg-4">
        <form class="row gx-2 justify-content-end">
          <div class="col-auto">
            <small>Items per page: </small>
          </div>
          <div class="col-auto">
            TODO
            <ng-select></ng-select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

