<div
  class="flex items-center justify-between border-t border-beeColor-200 dark:border-beeDarkColor-800 bg-white dark:bg-beeDarkColor-800 px-4 py-3 sm:px-6 h-16">
  <div class="flex flex-1 justify-between sm:hidden">
    <button
      (click)="prevPage()"
      class="relative inline-flex items-center rounded-md border border-beeColor-300 bg-white px-4 py-2 text-sm font-medium text-beeColor-700 hover:bg-beeColor-100">
      {{ 'keyword.capitalize.previous' | translate }}
    </button>
    <button
      (click)="nextPage()"
      class="relative ml-3 inline-flex items-center rounded-md border border-beeColor-300 bg-white px-4 py-2 text-sm font-medium text-beeColor-700 hover:bg-beeColor-100">
      {{ 'keyword.capitalize.next' | translate }}
    </button>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-beeColor-700 dark:text-beeDarkColor-400">

        {{ 'keyword.capitalize.total' | translate }}: {{ tableState.total }}
        <!--        Showing-->
        <!--        <span class="font-medium">1</span>-->
        <!--        to-->
        <!--        <span class="font-medium">10</span>-->
        <!--        of-->
        <!--        <span class="font-medium">97</span>-->
        <!--        results-->
      </p>
    </div>
    <div class="text-sm text-beeColor-700 dark:text-beeDarkColor-400" *ngIf="showButtonToClearCache.isOn">
        {{ 'keyword.capitalize.lastUpdate' | translate }}: {{ lastUpdate }} {{ 'keyword.lowercase.ago' | translate }}
        (
        <button type="button" (click)="clearTableCache()" class="text-blue-600 dark:text-blue-400 text-xs hover:underline">
          {{ 'keyword.capitalize.clearCache' | translate }}
        </button>
        )
    </div>
    <div>
      <nav *ngIf="tableState.total > 1" class="isolate inline-flex -space-x-px rounded-md shadow-sm"
           aria-label="Pagination">
        <button
          [class.disabled]="1 === tableState.page"
          (click)="prevPage()"
          class="
            relative
            cursor-pointer
            inline-flex
            items-center
            rounded-l-md
            px-3
            py-2
            text-beeColor-900
            dark:text-white
            ring-1
            ring-inset
            ring-beeColor-300
            dark:ring-beeDarkColor-600
            hover:bg-beeColor-100
            dark:hover:bg-beeDarkColor-600
            focus:z-20
            focus:outline-offset-0">
          <span class="sr-only">{{ 'keyword.capitalize.previous' | translate }}</span>
          <i class="bi bi-arrow-left"></i>
        </button>
        <button
          *ngFor="let page of pages"
          [class.disabled]="isNaN(page)"
          [class.bg-beeColor-100]="tableState.page === page"
          [class.dark:bg-beeDarkColor-700]="tableState.page === page"
          (click)="changePage(page)"
          class="
            cursor-pointer
            relative
            inline-flex
            items-center
            px-4
            py-2
            text-sm
            font-semibold
            text-beeColor-900
            dark:text-white
            ring-1
            ring-inset
            ring-beeColor-300
            dark:ring-beeDarkColor-600
            hover:bg-beeColor-100
            dark:hover:bg-beeDarkColor-600
            focus:z-20
            focus:outline-offset-0">
          {{ isNaN(page) ? '...' : page }}
        </button>
        <button
          [class.disabled]="tableState.maxPage === tableState.page"
          (click)="nextPage()"
          class="
            relative
            cursor-pointer
            inline-flex
            items-center
            rounded-r-md
            px-3
            py-2
            text-beeColor-900
            dark:text-white
            ring-1
            ring-inset
            ring-beeColor-300
            dark:ring-beeDarkColor-600
            hover:bg-beeColor-100
            dark:hover:bg-beeDarkColor-600
            focus:z-20
            focus:outline-offset-0">
          <span class="sr-only">{{ 'keyword.capitalize.next' | translate }}</span>
          <i class="bi bi-arrow-right"></i>
        </button>
      </nav>
    </div>
  </div>
</div>
