<div
	class="relative w-full rounded-2xl border dark:bg-neutral-800 bg-white max-h-[calc(100vh-4rem)] md:max-h-[calc(100vh-6rem)]">
	<utility-loader class="absolute top-0 left-0 rounded-2xl w-full py-2" *ngIf="loader.isOn" [disabled]="false" [showLabel]="false"/>
	<utility-date-slider-select-component
		class="block m-4"
		(updateDayItemList)="updateDayItemList($event)"
		[dayItemList]="dayItemList"
		[loader]="loader"
		[localDateTimeControl]="selectedDateControl"
		[preventPastDates]="false"
		[controlsAreRequired]="false"/>

	<div class="flex justify-end">
		<!--		<button type="button" primaryLink (click)="toDay()">-->
		<!--			{{ 'keyword.capitalize.today' | translate }}-->
		<!--		</button>-->
<!--		<ion-item lines="none" class="rounded-2xl">-->
<!--			<ion-select-event-status [control]="form.controls.status"/>-->
<!--		</ion-item>-->
	</div>
	<div
		class="flex flex-col overflow-y-scroll border-t max-h-[calc(100vh-(13rem+49px))] md:max-h-[calc(100vh-(30.625rem+49px))]">
<!--		<ng-template [ngIf]="loader.isOff">-->
			<ng-template [ngIf]="items.length">
				<a
					*ngFor="let item of items"
					[routerLink]="'/event/' + item._id"
					[queryParams]="{returnUrl}"
					class="py-3 hover:bg-beeColor-100 border-t first:border-0">
					<div class=" flex gap-2">
						<div class="flex flex-col justify-start items-center min-w-[100px] gap-1">
							<div class="font-bold text-xl">
								{{ item.start | date: 'HH:mm' }}
							</div>
							<div class="text-neutral-500 text-sm">
								{{ item?.services?.[0]?.durationVersions?.[0]?.durationInSeconds ?? 0 | humanizeDuration }}
							</div>
							<div class="font-medium text-sm">
								{{ item.end | date: 'HH:mm' }}
							</div>
						</div>
						<div class="flex flex-col gap-1">
							<div class="flex items-center gap-2">
								<div eventStatusStyle mode="text" [status]="item.status"></div>
								<div
									class="bg-neutral-100 text-neutral-800 h-6 font-medium inline-flex gap-2 items-center px-2 py-0.5 rounded-2xl dark:bg-gray-700 dark:text-neutral-400 border border-neutral-400">
									{{ (item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.price ?? 0) | currency: item.services[0].durationVersions[0].prices[0].currency: 'symbol-narrow'  }}
								</div>
								<div class="text-2xl text-neutral-500" *ngIf="item?.description?.length">
									<i class="bi bi-chat-heart"></i>
								</div>
							</div>
							<div
								class="inline-flex gap-4 items-center">
								<i class="bi bi-cart"></i>
								{{ item?.services?.[0]?.languageVersions?.[0]?.title | noData }}
							</div>
							<div
								*ngFor="let attendant of (item?.attendees ?? [])"
								#attendantRef
								[attr.data-value]="(attendant?.customer?.firstName ?? '') + ' ' + (attendant.customer.lastName ?? '')"
								class="inline-flex gap-4 items-center">
								<i class="bi bi-person"></i>
								{{ (attendantRef?.getAttribute?.('data-value')?.length ?? 0) > 1 ? attendantRef.getAttribute('data-value') : (attendant?.customer?.email ?? attendant?.customer?.phone ?? '-') }}
							</div>
						</div>
					</div>
				</a>
			</ng-template>
			<ng-template [ngIf]="!items.length">
				<div class="text-center p-4 text-beeColor-500">
					{{ 'keyword.capitalize.thereArentAnyEvents' | translate: ({datetime: dynamicDate(selectedDateControl.value.toJSDate().toISOString())}) }}
				</div>
			</ng-template>
<!--		</ng-template>-->
	</div>

	<button
		type="button"
		class="border-t p-3 w-full text-blue-500 hover:bg-blue-100 rounded-b-2xl transition-all"
		routerLink="/event/form"
		[queryParams]="{returnUrl, start: selectedDateControl.value}">
		<i class="bi bi-plus-lg"></i>
		{{ 'keyword.capitalize.add-event' | translate }}
	</button>
</div>
