<div class="col-span-12 pb-16">

	<form [formGroup]="form" class="flex flex-col gap-4">

		<bee-card>
			<app-customer-type-customer-component
				[form]="form.controls.attendees.controls[0].controls.customer">
				<div class="mb-2" slot="label">
					<strong class="text-2xl dark:text-white">{{ 'keyword.singular.capitalize.client' | translate }}</strong>
				</div>
			</app-customer-type-customer-component>
		</bee-card>

		<bee-card>
			<event-service-component
				[member]="member"
				[serviceListControl]="form.controls.services"/>
		</bee-card>

		<!--		 *ngIf="slotsService.specialistExist"-->
		<bee-card>

			<!--			[editable]="!isEditMode"-->
			<event-select-time-slot-form-component
				[editable]="true"
				[configurationForm]="form.controls.configuration"
				[control]="form.controls.start"/>

		</bee-card>

		<bee-card>
			<form-textarea-component
				id="event-form-public-note-input"
				[label]="'keyword.capitalize.note' | translate"
				[placeholder]="'event.form.section.additional.input.note.placeholder' | translate"
				[control]="form.controls.note"/>
		</bee-card>

		<utility-button-save-container-component class="bottom-0">
<!--			<button-->
<!--				type="button"-->
<!--				primary-->
<!--				[scrollToFirstError]="true"-->
<!--				[isLoading]="form.pending"-->
<!--				[disabled]="form.disabled"-->
<!--				(click)="goToPreview()">-->
<!--				{{ 'keyword.capitalize.preview' | translate }}-->
<!--			</button>-->
			<button
				type="button"
				primary
				[isLoading]="form.pending"
				[disabled]="form.disabled"
				[scrollToFirstError]="true"
				(click)="save()">
				{{ 'keyword.capitalize.add' | translate }}
			</button>
		</utility-button-save-container-component>

	</form>

</div>
