<div class="block max-w-full" [ngClass]="{
'overflow-x-auto h-[calc(100vh-64px)] md:h-[calc(100vh-65px)]': isPage
}">
	<service-filter-component [showButtonGoToForm]="showButtonGoToForm"/>
	<ng-container *ngIf="tableState">
		<ng-container *ngIf="tableState.total > 0; else EmptyTemplate">
			<service-card-list-component [tableState]="tableState"/>
		</ng-container>
		<ng-template #EmptyTemplate>
			<not-found-table-data-component
				class="block h-full"
				(clickListener)="openForm()"
				[showLinkToForm]="true"
				[linkLabel]="'keyword.capitalize.add-service' | translate"
				[label]="'keyword.capitalize.dataNotFound' | translate">
				<service-auto-refresh-component  [resetPage]="true" [resetParams]="true"/>
			</not-found-table-data-component>
		</ng-template>
	</ng-container>
</div>
