<div class="block max-w-full overflow-x-auto h-[calc(100vh-134px)] md:h-[calc(100vh-135px)]">
	<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState.items.length">
		<bee-card class="text-sm" *ngFor="let item of tableState.items; trackBy: trackById">
			<div (click)="singleClick(item)" class="flex justify-between items-center">

				<div class="flex justify-between w-full gap-2 items-center">
					<div class="rounded-full bg-beeColor-400 min-h-8 min-w-8 max-h-8 max-w-8 h-8 w-8 flex justify-center items-center">
						<ng-container *ngIf="item?.avatar?.url; else InitialsTemplate">
							<img [src]="item?.avatar?.url" class="min-h-8 min-w-8 max-h-8 max-w-8 h-8 w-8 rounded-full object-cover" alt="">
						</ng-container>
						<ng-template #InitialsTemplate>
							<div class="text-white text-xs font-bold">{{ item?.firstName?.[0] ?? '' }}</div>
							<div class="text-white text-xs font-bold">{{ item?.lastName?.[0] ?? '' }}</div>
						</ng-template>
					</div>
					<div class="flex-1">
						<div>
							{{ 'keyword.capitalize.fullName' | translate }}
						</div>
						<div class="font-bold">
							{{ item.firstName ?? '-' }} {{ item.lastName ?? '-' }}
						</div>
					</div>
				</div>
				<utility-table-column-action
					(open)="open($event)"
					(edit)="edit($event)"
					[id]="item._id"/>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.email' | translate }}
					</div>
					<div class="font-bold">
						{{ item.email }}
					</div>
				</div>
			</div>
<!--			<div class="flex justify-between">-->
<!--				<div class="flex-1">-->
<!--					<div>-->
<!--						{{ 'keyword.capitalize.phone' | translate }}-->
<!--					</div>-->
<!--					<div class="font-bold">-->
<!--						{{ item.phone ?? '-' }}-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</bee-card>
	</div>
	<utility-table-state-pagination-component
		(page)="pageChange($event)"
		[tableState]="tableState"/>
</div>
