<div class="block max-w-full overflow-x-auto h-[calc(100vh-134px)] md:h-[calc(100vh-135px)]">
	<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState.items.length">
		<bee-card class="text-sm" *ngFor="let item of tableState.items">
			<div class="flex justify-between items-center">

				<div class="flex justify-between">
					<div class="flex-1">
						<div>
							{{ 'keyword.capitalize.fullName' | translate }}
						</div>
						<div class="font-bold">
							{{ item.firstName ?? '-' }} {{ item.lastName ?? '-' }}
						</div>
					</div>
				</div>
				<utility-table-column-action
					[id]="item._id"/>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.email' | translate }}
					</div>
					<div class="font-bold">
						{{ item.email }}
					</div>
				</div>
			</div>
<!--			<div class="flex justify-between">-->
<!--				<div class="flex-1">-->
<!--					<div>-->
<!--						{{ 'keyword.capitalize.phone' | translate }}-->
<!--					</div>-->
<!--					<div class="font-bold">-->
<!--						{{ item.phone ?? '-' }}-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</bee-card>
	</div>
	<utility-table-state-pagination-component
		(page)="pageChange($event)"
		[tableState]="tableState"/>
</div>
