<service-filter-component/>
@if (tableState(); as data) {
	@if (data.total > 0) {
		<service-card-list-component [tableState]="data"/>
	} @else {

		<not-found-table-data-component
			class="block h-full"
			(clickListener)="openForm()"
			[showLinkToForm]="true"
			[linkLabel]="'keyword.capitalize.add-service' | translate"
			[label]="'keyword.capitalize.dataNotFound' | translate">
			<service-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
		</not-found-table-data-component>

	}
}
