<nav
	class="
  h-20
  w-full
  bottom-0
  border-t
  pb-4

  md:pb-0
  md:h-dvh
  md:top-0
  md:bottom-auto
  md:w-16
  md:border-r
  md:border-t-0

  fixed
  left-0
  z-40
  bg-white
  border-beeColor-200
  dark:bg-beeDarkColor-900
  dark:border-beeDarkColor-800">
	<div class="hidden md:block absolute m-2">
		@if (logo(); as logo) {
			<img [src]="logo.url" class="rounded-lg" alt="Logo">
		} @else {
			<img src="/asset/img/logo.png" class="rounded-lg" alt="Logo">
		}
	</div>
	<div class="px-4 md:px-0 md:py-4 h-full flex md:flex-col items-center justify-between md:justify-center gap-4">

		<div class="flex items-center justify-start">
			<button
				(click)="sidebarService.toggleSidebarAndSwitch(sidebarService.sidebarContentEnum.MENU)"
				type="button"
				class="inline-flex items-center p-2 text-sm text-beeColor-500 rounded-lg hover:bg-beeColor-100 focus:outline-none focus:ring-2 focus:ring-beeColor-200 dark:text-beeDarkColor-400 dark:hover:bg-beeDarkColor-700 dark:focus:ring-beeDarkColor-600">
				<span class="sr-only">Open sidebar</span>
				<i class="text-3xl bi bi-list"></i>
			</button>
			<!--      <a routerLink="/dashboard" class="flex ml-2 md:mr-24">-->
			<!--        <img alt="" class="mr-3" ngSrc="asset/img/logo.png" height="32" width="32"/>-->
			<!--        <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">-->
			<!--            Bee O`clock-->
			<!--          </span>-->
			<!--      </a>-->
		</div>
		<div class="flex items-center">
			<!--            <utility-notification-component/>-->
			<utility-profile-component
				(click)="sidebarService.toggleSidebarAndSwitch(sidebarService.sidebarContentEnum.PROFILE)"/>
		</div>
	</div>
</nav>
