<nav
	class="
  h-20
  w-full
  bottom-0
  border-t
  pb-4

  md:pb-0
  md:h-dvh
  md:top-0
  md:bottom-auto
  md:w-16
  md:border-r
  md:border-t-0

  fixed
  left-0
  z-40
  bg-zinc-100
  border-beeColor-200
  dark:bg-beeDarkColor-900
  dark:border-beeDarkColor-800">
	<div class="hidden md:block absolute m-2">
		@if (logo(); as logo) {
			<img [src]="logo.url" class="rounded-lg bg-white" alt="Logo">
		} @else {
			<img src="/asset/img/logo.png" class="rounded-lg bg-white" alt="Logo">
		}
	</div>
	<div class="px-4 md:px-0 md:py-4 h-full flex md:flex-col items-center justify-between md:justify-center gap-4">
		<div class="flex items-center justify-start">
			<button
				(click)="sidebarService.toggleSidebarAndSwitch(sidebarService.sidebarContentEnum.MENU)"
				type="button"
				[class.bg-white]="sidebarService.theItemOpen(sidebarService.sidebarContentEnum.MENU)"
				class="px-2 py-2 w-[46px] h-[46px] rounded-2xl flex flex-row items-center text-lg text-gray-800 dark:text-gray-400 hover:bg-white hover:border-gray-200 dark:hover:border-zinc-700 dark:hover:bg-zinc-800 bg-white drop-shadow-sm dark:bg-zinc-800 border-gray-200 dark:border-zinc-700">
				<span class="sr-only">Open sidebar</span>
				<i class="text-3xl bi bi-list"></i>
			</button>
			<!--      <a routerLink="/dashboard" class="flex ml-2 md:mr-24">-->
			<!--        <img alt="" class="mr-3" ngSrc="asset/img/logo.png" height="32" width="32"/>-->
			<!--        <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">-->
			<!--            Bee O`clock-->
			<!--          </span>-->
			<!--      </a>-->
		</div>
		<div class="flex items-center">
			<!--            <utility-notification-component/>-->

			<button
				[class.bg-white]="sidebarService.theItemOpen(sidebarService.sidebarContentEnum.PROFILE)"
				(click)="sidebarService.toggleSidebarAndSwitch(sidebarService.sidebarContentEnum.PROFILE)"
				class="px-2 py-2 w-[46px] h-[46px] justify-center rounded-2xl flex flex-row items-center text-xl text-gray-800 dark:text-gray-400 hover:bg-white hover:border-gray-200 dark:hover:border-zinc-700 dark:hover:bg-zinc-800 bg-white drop-shadow-sm dark:bg-zinc-800 border-gray-200 dark:border-zinc-700"
				type="button">
				<span class="sr-only">Open user menu</span>
				<i class="bi bi-person-circle"></i>
				<!--      <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">-->
			</button>
		</div>
		<button
			[class.bg-white]="sidebarService.theItemOpen(sidebarService.sidebarContentEnum.CONFIGURATION)"
			(click)="sidebarService.toggleSidebarAndSwitch(sidebarService.sidebarContentEnum.CONFIGURATION)"
			type="button"
			class="px-2 py-2 w-[46px] h-[46px] justify-center rounded-2xl flex flex-row items-center text-xl text-gray-800 dark:text-gray-400 hover:bg-white hover:border-gray-200 dark:hover:border-zinc-700 dark:hover:bg-zinc-800 bg-white drop-shadow-sm dark:bg-zinc-800 border-gray-200 dark:border-zinc-700">
			<span class="sr-only">Open configuration</span>
			<i class="text-3xl bi bi-gear-wide-connected"></i>
		</button>
	</div>
</nav>
