<bee-card>

	<utility-switch-component
		id="member-form-assignments-service-full"
		[label]="'member.form.assignments.service.full.label' | translate"
		[booleanValue]="true"
		[control]="form.controls.service.controls.full"/>

	@if (isNotFull) {

		<hr>

		<button class="flex justify-between items-center text-start" (click)="selectServices()">

			{{ 'member.form.assignments.button.label' | translate }}

			<div class="flex items-center gap-4">
				@if (form.controls.service.includeIsNotEmpty) {
					<div
						class="border bg-yellow-50 border-yellow-600 text-yellow-600 leading-tight px-3 py-1 rounded-full">
						{{ form.controls.service.controls.include.value.length }}
					</div>
				} @else {

					<div
						class="border bg-red-50 border-red-600 text-red-600 leading-tight px-3 py-1 rounded-full">
						{{ 'member.form.assignments.button.hint.includeIsEmpty' | translate }}
					</div>
				}

				<i class="bi bi-chevron-right"></i>
			</div>

		</button>
	}

</bee-card>
