<div class="h-[50px] flex gap-4 px-2">
	<div class="flex items-center">
		<div class="relative flex items-center rounded-md bg-white shadow-sm md:items-stretch">
			<button type="button" class="flex h-9 w-12 items-center justify-center rounded-l-md border-y border-l border-gray-300 pr-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pr-0 md:hover:bg-gray-50">
				<span class="sr-only">Previous month</span>
				<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
				</svg>
			</button>
			<button type="button" class="hidden border-y border-gray-300 px-3.5 text-sm font-semibold text-gray-900 hover:bg-gray-50 focus:relative md:block">Today</button>
			<span class="relative -mx-px h-5 w-px bg-gray-300 md:hidden"></span>
			<button type="button" class="flex h-9 w-12 items-center justify-center rounded-r-md border-y border-r border-gray-300 pl-1 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:pl-0 md:hover:bg-gray-50">
				<span class="sr-only">Next month</span>
				<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					<path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
				</svg>
			</button>
		</div>
	</div>
</div>
<div #container class="bg-white grid relative h-[calc(100vh-114px)] md:h-[calc(100vh-50px)] overflow-auto">

	<!-- Calendar contents -->
	<ng-container
		*ngFor="let event of events;">
		<div
			*ngFor="let card of event.cards;"
			[ngStyle]="{
				'grid-row-start': card.startTime > 0 ? ((card.startTime - startTimeToDisplay) * stepPerHour) + 2 : 2,
				'grid-row-end': (card.startTime > 0 ? (((card.startTime - startTimeToDisplay) * stepPerHour) + 2) : 2) + (card.durationInMinutes / slotInMinutes),
				'grid-column-start': card.column
			}"
			[ngClass]="{
				'transition-all': true,
				'hover:cursor-pointer hover:bg-blue-500': true
			}"
			class="z-10 bg-blue-400/20 dark:bg-sky-600/50 border border-blue-700/10 dark:border-sky-500 rounded-lg m-1 p-1 flex flex-col">
			<span class="text-xs text-blue-600 dark:text-sky-100">{{ card.startTime }}</span>
			<span class="text-xs font-medium text-blue-600 dark:text-sky-100">{{ event.title }}</span>
		</div>
	</ng-container>

	<!--	 Hours	-->
	<div
		*ngFor="let hour of hours; let index = index;"
		[ngStyle]="{
			'grid-row-start': index > 0 ? ((index * stepPerHour) + 2) : 2,
			'grid-row-end': index > 0 ? ((index * stepPerHour) + 2) + stepPerHour : 2 + stepPerHour,
		}"
		class="z-10 col-start-[1] border-slate-100 dark:border-slate-200/5 border-r border-b text-xs p-1.5 text-right text-slate-400 uppercase sticky left-0 bg-white dark:bg-slate-800 font-medium">
		{{hour}}:00
	</div>

	<div #frame class="grid absolute top-0 left-0 h-full">

		<!-- Under header and it is like first line of the container -->
		<div class="row-start-1 col-span-8"></div>

		<!-- Calendar frame -->
		<ng-container *ngFor="let row of rows; let rowIndex = index;">
			<ng-container *ngFor="let column of columnHeaderList; let columnIndex = index;">
				<div
					[ngClass]="{
						'border-b': row.isFirstOrLastRowOfHour,
					}"
					class="row-start-[{{ rowIndex + 2 }}] col-start-[{{ columnIndex + 1 }}] border-slate-100 dark:border-slate-200/5 border-r">
				</div>
			</ng-container>
		</ng-container>

		<event-time-line-component
			[heightInPx]="heightInPx"
			[headerHeightInPx]="headerHeightInPx"
			[startTimeToDisplay]="startTimeToDisplay"
			*ngIf="currentDate.toLocaleDateString() === selectedDate.toLocaleDateString() && currentDate.getHours() >= startTimeToDisplay && currentDate.getHours() <= endTimeToDisplay"/>

	</div>

	<!-- Calendar header -->
	<div
		*ngFor="let columnHeader of columnHeaderList; let columnIndex = index;"
		class="row-start-[1] col-start-[{{ columnIndex + 1 }}] sticky top-0 z-20 bg-white dark:bg-gradient-to-b dark:from-slate-600 dark:to-slate-700 border-slate-100 dark:border-black/10 border-b">
		<event-header-calendar-component [member]="columnHeader.member"/>
	</div>

</div>
