<section class="bg-gray-50 dark:bg-gray-900">
	<div class="flex flex-col gap-4 items-center justify-center md:px-6 py-8 mx-auto md:h-screen lg:py-0">
		<div class="sm:max-w-md w-full flex justify-between items-center">
			<utility-back-link-component/>
			<utility-change-language-component/>
		</div>
		<div
			class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1
					class="flex flex-col items-center justify-center text-center gap-2 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
					<img alt="Bee O`clock"
                         class="mx-auto h-10 w-auto"
                         height="278" ngSrc="/src/asset/img/logo.png" width="278">
					{{ 'identity.forgot-password.form.label' | translate }}
				</h1>
				<form action="#" class="space-y-4 md:space-y-8">

					<form-input
						[control]="form.controls.email"
						[label]="'keyword.capitalize.email' | translate"
						[placeholder]="'identity.forgot-password.form.inputs.email.placeholder' | translate"
						autocomplete="email"
						id="email"
						inputType="email"/>

					<div>
						<button (click)="signIn()" [isLoading]="form.pending" primary type="submit">
							{{ 'keyword.capitalize.send' | translate }}
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>
