<utility-default-panel-component>
	<app-date-slider-control-component
		[form]="filterStateFormGroup"/>
</utility-default-panel-component>
<div class="flex flex-wrap gap-4 p-4">

	@if (baseCurrency$ | async; as baseCurrency) {

		@if (calculatedStatistic$ | async; as calculatedStatistic) {

			@if (clientItem) {

				<div class="flex flex-col gap-4">
					<div class="flex gap-2">
						<h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
							{{ clientItem.name }}
						</h5>
						<div class="text-neutral-600">
							{{ periodTitle }}
						</div>
					</div>

					@if (loader$ | async) {

						<utility-loader/>

					} @else {

						<div class="flex flex-wrap gap-4">
							<div
								class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
								<div
									class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
									💰
								</div>
								<div class="text-2xl font-bold"
									 [class.text-green-600]="calculatedStatistic.summary.total.revenue.recordByOrderServiceStatus.done > 0">
									{{ calculatedStatistic.summary.total.revenue.recordByOrderServiceStatus.done | currency: baseCurrency : 'symbol-narrow' }}
								</div>
								<div class="text-neutral-600">
									{{ 'statistic.global.revenue' | translate }}
								</div>
							</div>
							<div
								class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
								<div
									class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
									💇
								</div>
								<div class="text-2xl font-bold"
									 [class.text-green-600]="calculatedStatistic.summary.total.orderServiceRecordByStatus.done > 0">
									{{ calculatedStatistic.summary.total.orderServiceRecordByStatus.done }}
								</div>
								<div class="text-neutral-600">
									{{ 'statistic.global.numberOfServicesProvided' | translate }}
								</div>
							</div>
							@if (calculatedStatistic.summary.rating.sort.service.by.status.done[0]; as firstTop) {
								<div
									class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
									<div class="flex gap-2 justify-between items-center">
										<div class="flex gap-2">
											<div
												class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
												🏆
											</div>
											<div class="font-bold text-2xl">
												x {{ firstTop.count ?? 0 }}
											</div>
										</div>
										<div class="text-neutral-600">
											%{{ firstTop.percentage ?? 0 | number: '1.0-0' }}
										</div>
									</div>
									<div class="font-bold truncate max-w-[200px]">
										{{ firstTop.service?.languageVersions?.[0]?.title }}
									</div>
									<div class="text-neutral-600">
										{{ 'statistic.global.topService' | translate }}
									</div>
								</div>
							}
							@if (calculatedStatistic.summary.total.orderRecordByStatus.done > 0) {
								<div
									class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
									<div
										class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
										🛒
									</div>
									<div class="text-2xl font-bold text-green-600">
										{{ calculatedStatistic.summary.total.orderRecordByStatus.done }}
									</div>
									<div class="text-neutral-600">
										{{ 'statistic.global.numberOfSales' | translate }}
									</div>
								</div>
							}
							@if (calculatedStatistic.summary.average.billRecordByOrderStatus.done > 0) {
								<div
									class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
									<div
										class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
										📈
									</div>
									<div class="text-2xl font-bold text-green-600">
										{{ calculatedStatistic.summary.average.billRecordByOrderStatus.done | currency: baseCurrency : 'symbol-narrow' }}
									</div>
									<div class="text-neutral-600">
										{{ 'statistic.global.averageBill' | translate }}
									</div>
								</div>
							}

						</div>
					}
				</div>
			}

			<hr class="w-full">

			@for (specialistRecord of calculatedStatistic.specialistRecordById | keyvalue; track specialistRecord.key) {

				<div
					class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
					<div class="flex items-center justify-between mb-4">
						<h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
							{{ specialistRecord.value.specialist.member.lastName }}
							{{ specialistRecord.value.specialist.member.firstName }}
						</h5>
					</div>
					<div class="grid gap-4 md:grid-cols-2 bg-white dark:bg-gray-800">

						@if (loader$ | async) {

							<utility-loader/>

						} @else {

							<div
								class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
								<div
									class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
									💰
								</div>
								<div class="text-2xl font-bold"
									 [class.text-green-600]="specialistRecord.value.total.revenue.recordByOrderServiceStatus.done > 0">
									{{ specialistRecord.value.total.revenue.recordByOrderServiceStatus.done | currency: baseCurrency : 'symbol-narrow' }}
								</div>
							</div>
							<div
								class="gap-2 min-w-[200px] rounded-lg border bg-white p-4 flex flex-col justify-between">
								<div
									class="h-10 w-10 rounded-full bg-blue-100 flex items-center justify-center text-2xl">
									🛒
								</div>
								<div class="text-2xl font-bold"
									 [class.text-green-600]="specialistRecord.value.total.orderRecordByStatus.done > 0">
									{{ specialistRecord.value.total.orderRecordByStatus.done }}
								</div>
							</div>

						}
					</div>
				</div>

			}

		}

	}
</div>
