<!-- Calendar contents -->
<ng-container *ngFor="let event of events;">
	<event-card-component
		*ngFor="let card of event.cards;"
		[card]="card"
		[event]="event"
		[slotInMinutes]="slotInMinutes"
		[stepPerHour]="stepPerHour"
		[startTimeToDisplay]="startTimeToDisplay"/>
</ng-container>

<!--	 Hours	-->
<event-hour-cell-component
	*ngFor="let hour of hours; let index = index;"
	[stepPerHour]="stepPerHour"
	[index]="index"
	[hour]="hour"/>

<event-background-frame-component
	[rows]="rows"
	[columnHeaderList]="columnHeaderList"
	[heightInPx]="heightInPx"
	[heightPerSlotInPx]="heightPerSlotInPx"
	[headerHeightInPx]="headerHeightInPx"
	[endTimeToDisplay]="endTimeToDisplay"
	[startTimeToDisplay]="startTimeToDisplay" />

<!-- Calendar header -->
<event-header-calendar-component
	*ngFor="let columnHeader of columnHeaderList; let columnIndex = index;"
	[columnIndex]="columnIndex"
	[member]="columnHeader.member"/>

