<button aria-controls="navbarVerticalCollapse"
        aria-expanded="false"
        aria-label="Toggle Navigation"
        class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3"
        data-bs-target="#navbarVerticalCollapse"
        data-bs-toggle="collapse"
        type="button">
  <span class="navbar-toggle-icon">
    <span class="toggle-line"></span>
  </span>
</button>
<ul class="navbar-nav align-items-center d-none d-lg-block">
  <li class="nav-item">
    <utility-search-component></utility-search-component>
  </li>
</ul>
<ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
  <li class="nav-item px-2">
    <utility-toggle-theme-component></utility-toggle-theme-component>
  </li>
  <li class="nav-item dropdown">
    <utility-notification-component></utility-notification-component>
  </li>
  <li class="nav-item dropdown">
    <utility-profile-component></utility-profile-component>
  </li>
</ul>
