@if (item) {

	<div class="bg-white">
		<dl class="divide-y divide-gray-100">
			<div class="p-2 flex justify-end">
				<app-absence-row-action-button-component
					[hide]="['details']"
					[item]="item"
					[id]="item._id"/>
			</div>
			<div class="p-4 flex gap-4 justify-between">
				<div class="rounded-2xl flex flex-col gap-1 items-center justify-center bg-yellow-700 text-white p-3">
					<span>{{ item.start | date: 'yyyy' }}</span>
					<span class="text-4xl font-extrabold">{{ item.start | date: 'dd' }}</span>
					<span>{{ item.start | date: 'MMMM' }}</span>
				</div>
				<div class="flex-1 flex flex-col justify-center">
					<div class="text-center">
						@if (isStarted) {

							@if (leftInDays) {
								<div class="flex flex-col gap-1 pb-2">
									<span class="text-xs">
										{{ 'keyword.capitalize.leftInDays' | translate }}
									</span>
									<span class="font-extrabold text-2xl">{{ leftInDays }}</span>
								</div>
							} @else {
								<span class="text-sm">
									{{ 'keyword.capitalize.finished' | translate }}
								</span>
							}
						} @else {
							<div>
								{{ 'keyword.capitalize.notYetStarted' | translate }}
							</div>
						}
					</div>
					<!-- Progress -->
					<div class="flex w-full h-4 bg-gray-200 rounded-full overflow-hidden dark:bg-neutral-700" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
						<div class="flex flex-col justify-center rounded-full overflow-hidden bg-yellow-700 text-xs text-white text-center whitespace-nowrap dark:bg-yellow-500 transition duration-500" [style.width.%]="progress">{{progress}}%</div>
					</div>
					<!-- End Progress -->
					<div class="flex justify-between">
						<div>{{ item.start | date: 'HH:mm' }}</div>
						<div>{{ item.end | date: 'HH:mm' }}</div>
					</div>
				</div>
				<div class="rounded-2xl flex flex-col gap-1 items-center justify-center bg-yellow-700 text-white p-3">
					<span>{{ item.end | date: 'yyyy' }}</span>
					<span class="text-4xl font-extrabold">{{ item.end | date: 'dd' }}</span>
					<span>{{ item.end | date: 'MMMM' }}</span>
				</div>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.status' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
					@if (item.active) {
						@switch (item.start | absenceProgressStatus: item.end) {

							@case (absenceProgressStatusEnum.FINISHED) {
								<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-100 text-teal-800 dark:bg-teal-800/30 dark:text-teal-500">
								{{ 'absence.progress.status.finished' | translate }}
							</span>
							}
							@case (absenceProgressStatusEnum.IN_PROGRESS) {
								<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500">
								{{ 'absence.progress.status.inProgress' | translate }}
							</span>
							}
							@case (absenceProgressStatusEnum.NOT_STARTED) {
								<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500">
								{{ 'absence.progress.status.notStarted' | translate }}
							</span>
							}

						}
					} @else {
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800 dark:bg-red-800/30 dark:text-red-500">
							{{ 'absence.progress.status.cancel' | translate }}
						</span>
					}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.singular.capitalize.type' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ ('absence.type.' + item.type + '.label') | translate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.start' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.start | dynamicDate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.end' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.end | dynamicDate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.attendees' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					@if (item.entireBusiness) {

						{{ 'absence.form.inputs.entireBusiness.label' | translate }}
					} @else {
						{{ item?.members?.length ?? 0 }}
					}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.note' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.note | noData }}
				</dd>
			</div>
		</dl>
	</div>

	<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6 flex flex-col gap-4 mb-[100px]">

		<div class="text-start text-beeColor-400 text-sm px-4">

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">

					<div>
						#
					</div>
					<div>
						{{ item._id }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}:
					</div>
					<div>
						{{ item.createdAt | dynamicDate }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}:
					</div>
					<div>
						{{ item.updatedAt | dynamicDate }}
					</div>

				</div>

			</div>

		</div>

	</div>
}
