<ng-container *ngIf="item">
	<div class="bg-white">
		<dl class="divide-y divide-gray-100">
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.status' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
					<div activeStyle [active]="item.active"></div>
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.singular.capitalize.type' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ ('absence.type.' + item.type + '.label') | translate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.start' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.start | dynamicDate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.end' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.end | dynamicDate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.attendees' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					<ng-container *ngIf="item.entireBusiness; else MembersTemplate">
						{{ 'absence.form.inputs.entireBusiness.label' | translate }}
					</ng-container>
					<ng-template #MembersTemplate>
						{{ item?.members?.length ?? 0 }}
					</ng-template>
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.note' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.note | noData }}
				</dd>
			</div>
		</dl>
	</div>

	<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6 flex flex-col gap-4 mb-[100px]">

		<div class="flex justify-between flex-col md:flex-row gap-4 bg-white p-4 border-y">

			<bee-delete-button [buttonWidthFull]="true" (event)="delete(item)"/>
			<edit-button-component [buttonWidthFull]="true" (click)="openForm()"/>

		</div>

		<div class="text-start text-beeColor-400 text-sm px-4">

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">

					<div>
						#
					</div>
					<div>
						{{ item._id }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}:
					</div>
					<div>
						{{ item.createdAt | dynamicDate }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}:
					</div>
					<div>
						{{ item.updatedAt | dynamicDate }}
					</div>

				</div>

			</div>

		</div>

	</div>
</ng-container>
