<div class="d-flex align-items-center">
  <div class="toggle-icon-wrapper">

    <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-placement="left"
            data-bs-toggle="tooltip" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
      class="toggle-line"></span></span></button>

  </div>
  <a class="navbar-brand" routerLink="/">
    <div class="d-flex align-items-center py-3">
      <!--    TODO Add logo -->
      <!--      <img alt=""-->
      <!--           class="me-2"-->
      <!--           src="asset/img/logo.png" width="40"/>-->
      <span class="font-sans-serif">Bee O`clock</span>
    </div>
  </a>
</div>
<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
  <div class="navbar-vertical-content scrollbar">
    <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
      <li *ngFor="let group of menu">
        <!-- label-->
        <div *ngIf="group.label" class="row navbar-vertical-label-wrapper mt-3 mb-2">
          <div class="col-auto navbar-vertical-label">{{ group.label }}
          </div>
          <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider"/>
          </div>
        </div>
        <!-- parent pages-->
        <a *ngFor="let item of group.items" [attr.target]="item.target" [class.disabled]="item.disabled ?? false"
           [routerLink]="item.url" class="nav-link" role="button" routerLinkActive="active">
          <div class="d-flex align-items-center">
            <span class="nav-link-icon">
              <span [class]="item.icon"></span>
            </span>
            <span class="nav-link-text ps-1">{{ item.label }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
