<aside id="main-sidebar"
       class="
        fixed
        top-0
        left-0
        z-30
        w-full
        md:w-64
        h-screen
        pt-20
        transition-transform
        -translate-x-full
        bg-white
        border-r
        border-beecolor-200
        sm:translate-x-0
        dark:bg-beecolor-800
        dark:border-beecolor-700"
       aria-label="Sidebar">
  <div class="flex flex-col items-center mb-2">
    <div class="bg-beecolor-200 rounded p-2">
      <strong class="mx-2 font-medium text-beecolor-800 dark:text-beecolor-200">
        {{ auth.currentUser?.displayName }}
      </strong>
      <p class="mx-2 mt-1 text-sm font-medium text-beecolor-600 dark:text-beecolor-400">
        {{ auth.currentUser?.email }}
      </p>
    </div>
  </div>

  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-beecolor-800">

    <ul class="space-y-2 font-medium">

      <li *ngFor="let item of menu">

        <ng-container *ngIf="item?.items?.length;">

          <button
            #buttonOfSubMenu
            (click)="buttonOfSubMenu.toggleAttribute('data-close')"
            data-close
            type="button"
            class="
              flex
              items-center
              w-full
              p-2
              text-beecolor-900
              transition
              duration-75
              rounded-lg
              group
              hover:bg-beecolor-100
              dark:text-white
              dark:hover:bg-beecolor-700">

            <i
              class="
                flex-shrink-0
                w-6
                h-6
                ms-1
                text-beecolor-500
                transition
                duration-75
                group-hover:text-beecolor-900
                dark:text-beecolor-400
                dark:group-hover:text-white"
              [class]="item.icon"></i>

            <span class="flex-1 ml-3 text-left whitespace-nowrap">
              {{ item.label }}
            </span>

            <i class="bi bi-chevron-down me-1"></i>

          </button>

          <ul [class.hidden]="buttonOfSubMenu.hasAttribute('data-close')" class="py-2 space-y-2">
            <li *ngFor="let subItem of item.items">
              <a
                (isActiveChange)="$event && buttonOfSubMenu.removeAttribute('data-close')"
                [routerLink]="subItem.url"
                [attr.target]="item.target"
                [class.disabled]="item.disabled ?? false"
                [routerLinkActiveOptions]="subItem.routerLinkActiveOptions"
                [routerLinkActive]="['bg-beecolor-100', 'dark:bg-beecolor-700']"
                class="
                  flex
                  items-center
                  w-full
                  p-2
                  text-beecolor-900
                  transition
                  duration-75
                  rounded-lg
                  pl-11
                  group
                  hover:bg-beecolor-100
                  dark:text-white
                  dark:hover:bg-beecolor-700">
                {{ subItem.label }}
              </a>
            </li>
          </ul>
        </ng-container>

        <ng-container *ngIf="!item?.items">

          <a
            [routerLink]="item.url"
            [attr.target]="item.target"
            [class.disabled]="item.disabled ?? false"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions"
            [routerLinkActive]="['bg-beecolor-100', 'dark:bg-beecolor-700']"
            class="
              flex
              items-center
              p-2
              text-beecolor-900
              rounded-lg
              dark:text-white
              hover:bg-beecolor-100
              dark:hover:bg-beecolor-700">

            <i
              class="w-6 h-6 ms-2 text-beecolor-500 transition duration-75 dark:text-beecolor-400 group-hover:text-beecolor-900 dark:group-hover:text-white"
              [class]="item.icon"></i>

            <span class="ml-3">{{ item.label }}</span>

          </a>

        </ng-container>

      </li>

    </ul>

  </div>

</aside>
