<div class="block max-w-full overflow-x-auto h-[calc(100vh-246px)] md:h-[calc(100vh-135px)]">
	<div class="flex flex-col gap-4 my-4">
		<bee-card class="text-sm" *ngFor="let item of tableState.items">
			<div class="flex justify-between items-center">
				<div class="flex items-center gap-2">
					<div eventStatusStyle mode="text" [status]="item.status"></div>
					<div>
						<i class="bi bi-person"></i>
						{{ item?.attendees?.length }}
					</div>
				</div>
				<utility-table-column-action [id]="item._id!" (delete)="delete($event)"/>
			</div>
			<div>
				<div>
					{{ 'event.keyword.capitalize.service' | translate }}
				</div>
				<div class="font-bold">
					{{ item?.services?.[0]?.languageVersions?.[0]?.title }}
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.duration' | translate }}
					</div>
					<div class="font-bold">
						{{ item?.services?.[0]?.durationVersions?.[0]?.durationInSeconds ?? 0 | humanizeDuration }}
					</div>
				</div>
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.price' | translate }}
					</div>
					<div class="font-bold">
						{{ (item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.price ?? 0) | currency: item.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.currency: 'symbol-narrow'  }}
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'event.keyword.capitalize.start' | translate }}
					</div>
					<div class="font-bold">
						{{ (item.start ? (item.start | dynamicDate) : null) ?? 'Invalid Time' }}
					</div>
				</div>
				<div class="flex-1">
					<div>
						{{ 'event.keyword.capitalize.end' | translate }}
					</div>
					<div class="font-bold">
						{{ (item.end ? (item.end | dynamicDate) : null) ?? 'Invalid Time' }}
					</div>
				</div>
			</div>
			<div class="flex justify-between text-neutral-500">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.createdAt | dynamicDate }}
					</div>
				</div>
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.updatedAt | dynamicDate }}
					</div>
				</div>
			</div>
		</bee-card>
	</div>
</div>
<utility-table-state-pagination-component (clearCache)="clearTableCache()" (page)="pageChange($event)"
																					[tableState]="tableState"/>
