<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState.items.length">
	<bee-card class="text-sm" *ngFor="let item of tableState.items; trackBy: trackById" (click)="singleClick(item)">
		<div class="flex justify-between items-center">
			<div class="flex items-center gap-2">
				<div eventStatusStyle mode="text" [status]="item.status"></div>
				<div>
					<i class="bi bi-person"></i>
					{{ item?.attendees?.length }}
				</div>
			</div>
			<utility-table-column-action placement="bottom-start" [offsetDistance]="10" [id]="item._id!"
																	 (delete)="delete($event)"/>
		</div>
		<div>
			<div *ngIf="sameYear(item.start)" class="flex justify-between">
				<div>
					{{ item.start | date: 'EEEE, dd MMMM' }}
				</div>
				<div>
					{{ 'keyword.lowercase.at' | translate }} {{ item.start | date: 'HH:mm' }}
				</div>
			</div>
			<div *ngIf="!sameYear(item.start)" class="flex justify-between">
				<div>
					{{ item.start | date: 'EEEE, dd MMMM, yyyy' }}
				</div>
				<div>
					{{ 'keyword.lowercase.at' | translate }} {{ item.start | date: 'HH:mm' }}
				</div>
			</div>
			<div class="font-bold">
				{{ item?.services?.[0]?.languageVersions?.[0]?.title }}
			</div>
			<div class="flex justify-between">
				<div>
					{{ item?.services?.[0]?.durationVersions?.[0]?.durationInSeconds ?? 0 | humanizeDuration }}
				</div>
				<div>
					{{ (item?.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.price ?? 0) | currency: item.services?.[0]?.durationVersions?.[0]?.prices?.[0]?.currency: 'symbol-narrow'  }}
				</div>
			</div>
			<div class="mt-4 flex gap-4 justify-between">
				<event-change-status-on-cancelled-component *ngIf="item.isBooked || item.isRequested" [event]="item"/>
				<event-change-status-on-booked-component *ngIf="item.isRequested" [event]="item"/>
				<event-change-status-on-done-component *ngIf="item.isBooked" [event]="item"/>
			</div>
		</div>
	</bee-card>
</div>
<utility-table-state-pagination-component
	(clearCache)="clearTableCache()"
	(page)="pageChange($event)"
	[tableState]="tableState"/>
