<ng-container *ngIf="item as member">
	<div class="bg-white">
		<dl class="divide-y divide-gray-100">
			<div *ngIf="member?.avatar?.url?.length" class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.avatar' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					<img [src]="member?.avatar?.url"
							 class="min-w-[192px] max-w-[192px] min-h-[192px] max-h-[192px] flex flex-col items-center justify-center w-full relative rounded-xl cursor-pointer bg-beeColor-50 hover:bg-beeColor-100 dark:hover:bg-beeDarkColor-800 dark:bg-beeColor-700 dark:border-beeDarkColor-600 dark:hover:border-beeDarkColor-500 object-cover"
							 alt="">
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.fullName' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ member.firstName }}&nbsp;{{ member.secondName }}&nbsp;{{ member.lastName }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.role' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ 'role.' + member.role | translate }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'member.form.assignments.button.label' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
					<div>
						<ng-container *ngIf="member.assignments.service.full; else PartOfServicesTemplate">
							<div class="border bg-green-50 border-green-600 text-green-600 leading-tight px-3 py-1 rounded-full">
								{{ 'keyword.lowercase.all' | translate }}
							</div>
						</ng-container>
						<ng-template #PartOfServicesTemplate>
							<div *ngIf="member.assignments.service.include.length"
									 class="border bg-yellow-50 border-yellow-600 text-yellow-600 leading-tight px-3 py-1 rounded-full">
								{{ member.assignments.service.include.length }}
							</div>
							<div *ngIf="!member.assignments.service.include.length"
									 class="border bg-red-50 border-red-600 text-red-600 leading-tight px-3 py-1 rounded-full">
								{{ 'member.form.assignments.button.hint.includeIsEmpty' | translate }}
							</div>
						</ng-template>
					</div>
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.status' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
					<div activeStyle [active]="member.active"></div>
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.email' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ member.email }}
				</dd>
			</div>
			<!--				<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">-->
			<!--					<dt class="text-sm font-medium leading-6 text-gray-900">-->
			<!--						{{ 'keyword.capitalize.phone' | translate }}-->
			<!--					</dt>-->
			<!--					<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">-->
			<!--						{{ member.phone }}-->
			<!--					</dd>-->
			<!--				</div>-->
		</dl>
	</div>

	<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6 flex flex-col gap-4 mb-[100px]">

		<div class="flex justify-between flex-col md:flex-row gap-4 bg-white p-4 border-y">

			<bee-delete-button [buttonWidthFull]="true" (event)="delete(member._id)"/>
			<edit-button-component [buttonWidthFull]="true" (click)="openForm()"/>

		</div>

		<div class="text-start text-beeColor-400 text-sm px-4">

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">

					<div>
						#
					</div>
					<div>
						{{ member._id }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}:
					</div>
					<div>
						{{ member.createdAt | dynamicDate }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}:
					</div>
					<div>
						{{ member.updatedAt | dynamicDate }}
					</div>

				</div>

			</div>

		</div>

	</div>
</ng-container>
