<filter-calendar-with-specialist [orderServiceStatusesControl]="orderServiceStatusesControl" [memberListControl]="memberIdListControl"/>
<div class="flex h-[calc(100%-60px)] overflow-x-auto w-full border-b">

	<div #column data-column="true" class="bg-white min-w-14 max-w-14 w-14 border-r overflow-y-auto no-scrollbar sticky left-0 top-0 z-10 min-h-full h-[1440px] max-h-full">

		<div class="flex flex-row justify-between items-center border-b sticky h-12 top-0 bg-white px-4 py-2 z-10">

		</div>

		<div class="relative">
			@if (isTodayS()) {

				<app-time-line-calendar-with-specialist-widget-component [showLine]="false"/>

			}

			@for (hourRow of calendarWithSpecialistLocaStateService.hourRowListInPx; track hourRow.hour) {

				<div
					class="border-b last:border-none text-slate-400 text-right px-1 sticky left-0"
					[style.min-height]="calendarWithSpecialistLocaStateService.oneHourInPx">
					{{ hourRow.hour }}
				</div>

			}
		</div>

	</div>

	@for (member of memberList(); track member._id) {

		@if (memberIdListControl.getRawValue().includes(member._id)) {

			<div
				#column
				(mouseover)="mouseover($event)"
				(focus)="onFocus($event)"
				(mouseenter)="mouseEnter($event)"
				(focusin)="onFocusIn($event)"
				(touchstart)="mouseover($event)"
				(touchend)="mouseEnter($event)"
				[attr.data-index]="$index + 1"
				data-column="true"
				class="bg-white w-full border-r max-w-xs min-w-72 overflow-auto"
				tabindex="0">

				<!-- board category header -->
				<div data-column-header="true" class="flex flex-row justify-between items-center border-b sticky h-12 top-0 bg-white z-10">
					<div class="flex items-center justify-between w-full">
						<event-header-calendar-with-specialist-widget-component [member]="member"/>
						<div class="mr-2 rounded-full bg-neutral-100 text-neutral-500 h-8 w-8 flex justify-center items-center">
							{{ eventsBySpecialistIdS()[member._id]?.length ?? 0 }}
						</div>
					</div>
				</div>
				<!-- board card -->
				<div data-column-body="true" class="flex flex-col relative min-h-[1440px] h-[1440px] max-h-[1440px]">

					@for (createEventButton of calendarWithSpecialistLocaStateService.createEventButtonList; track createEventButton.id) {

						<div
							[class.border-b]="createEventButton.isLastPeace"
							[attr.data-column-index]="$index + 1"
							[style.min-height]="createEventButton.heightInPx">

							<app-empty-slot-calendar-with-specialist-widget-component
								[class.hidden]="thereSomeEventCalendarWithSpecialistWidgetComponent"
								[startInMinutes]="createEventButton.startInMinutes"
								[durationInMinutes]="createEventButton.durationInMinutes"
								[member]="member"/>

						</div>

					}

					@for (event of eventsBySpecialistIdS()[member._id]; track event._id) {

						<app-event-calendar-with-specialists-widget-component [member]="member" [item]="event" />

					}

				</div>
			</div>

		}

	}

</div>
