<div class="flex items-center justify-between gap-1">
	<div *ngIf="loader.isOn" class="flex justify-center w-full">
		<utility-loader/>
	</div>
	<ng-template [ngIf]="loader.isOff">

		<ng-template [ngIf]="!slots.length">
			{{ 'keyword.capitalize.dataNotFound' | translate }}
		</ng-template>
		<div #timeSlotsContainer *ngIf="slots.length" class="grid grid-cols-4 md:grid-cols-6 gap-2 w-full px-4">
			<button
				type="button"
				*ngFor="let timeSlot of slots"
				(click)="selectDateItem(timeSlot.start)"
				[ngClass]="getClassList(isSelected(timeSlot.start))"
				class="min-w-[72px] flex flex-col items-center justify-center border rounded-md px-3 py-2">
				<span>{{ timeSlot.start.toFormat('HH:mm') }}</span>
			</button>
		</div>
	</ng-template>
</div>
