<div [tableFlex]="tableConfiguration">
	<div tableRowFlex="header">
<!--		<div tableColumnFlex="firstName">-->
<!--			{{ 'keyword.capitalize.firstName' | translate }}-->
<!--		</div>-->
<!--		<div tableColumnFlex="lastName" data-orderBy="lastName">-->
<!--			<div class="flex gap-3 items-center">-->
<!--				{{ 'keyword.capitalize.lastName' | translate }}-->
<!--				<utility-sort-indicator-->
<!--					orderBy="lastName"-->
<!--					[tableState]="tableState"/>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div tableColumnFlex="email" data-orderBy="email">-->
<!--			<div class="flex gap-3 items-center">-->
<!--				{{ 'keyword.capitalize.email' | translate }}-->
<!--				<utility-sort-indicator-->
<!--					orderBy="email"-->
<!--					[tableState]="tableState"/>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div tableColumnFlex="phone" data-orderBy="phone">-->
<!--			<div class="flex gap-3 items-center">-->
<!--				{{ 'keyword.capitalize.phone' | translate }}-->
<!--				<utility-sort-indicator-->
<!--					orderBy="phone"-->
<!--					[tableState]="tableState"/>-->
<!--			</div>-->
<!--		</div>-->
		<div tableColumnFlex="status">
			{{ 'keyword.capitalize.status' | translate }}
		</div>
<!--		<div tableColumnFlex="active" data-orderBy="active">-->
<!--			<div class="flex gap-3 items-center">-->
<!--				{{ 'keyword.capitalize.active' | translate }}-->
<!--				<utility-sort-indicator-->
<!--					orderBy="active"-->
<!--					[tableState]="tableState"/>-->
<!--			</div>-->
<!--		</div>-->
		<div tableColumnFlex="createdAt" data-orderBy="createdAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.createdAt' | translate }}
				<utility-sort-indicator
					orderBy="createdAt"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="updatedAt" data-orderBy="updatedAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.updatedAt' | translate }}
				<utility-sort-indicator
					orderBy="updatedAt"
					[tableState]="tableState"/>
			</div>
		</div>
		<div tableColumnFlex="action" class="border-l sticky right-0">
			{{ 'keyword.capitalize.action' | translate }}
		</div>
	</div>
	<!-- Column Cell	-->
	<div tableBodyFlex>
		<div tableRowFlex="body" (click)="doubleClick(item._id)" *ngFor="let item of tableState.items; trackBy: trackById">
<!--			<div tableColumnFlex="firstName">-->
<!--				<span class="truncate">-->
<!--					{{ item.firstName | noData }}-->
<!--				</span>-->
<!--			</div>-->
<!--			<div tableColumnFlex="lastName">-->
<!--				<span class="truncate">-->
<!--					{{ item.lastName | noData }}-->
<!--				</span>-->
<!--			</div>-->
<!--			<div tableColumnFlex="email">-->
<!--				<span [title]="item.email " class="truncate">-->
<!--					<a href="mailto:{{ item.email }}">{{ item.email | noData }}</a>-->
<!--				</span>-->
<!--			</div>-->
<!--			<div tableColumnFlex="phone">-->
<!--				<span [title]="item.phone" class="truncate">-->
<!--					{{ item.phone | noData }}-->
<!--				</span>-->
<!--			</div>-->
			<div tableColumnFlex="status">
				<span [title]="item.status" class="truncate">
					{{ item.status | noData }}
				</span>
			</div>
			<div tableColumnFlex="createdAt" #createdAtColumn [attr.data-value]="item.createdAt | dynamicDate">
				<span [title]="createdAtColumn.getAttribute('data-value')" class="truncate">
					{{ createdAtColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="updatedAt" #updatedAtColumn [attr.data-value]="item.updatedAt | dynamicDate">
				<span [title]="updatedAtColumn.getAttribute('data-value')" class="truncate">
					{{ updatedAtColumn.getAttribute('data-value') }}
				</span>
			</div>
			<div tableColumnFlex="action" class="border-l sticky right-0">
				<app-order-row-action-button-component
					[item]="item"
					[id]="item._id"/>
			</div>
		</div>
	</div>
</div>
<utility-table-state-pagination-component
	(page)="pageChange($event)"
	[tableState]="tableState"/>
