<form class="flex flex-col gap-4">

  @if (availableLanguages$ | async) {

  <form class="flex flex-col gap-4">

    @if (availableLanguages$ | async; as availableLanguages) {
      <product-name-form-component [form]="form.controls.languageVersions" [availableLanguages]="availableLanguages" />
    }

    <bee-card>

      <div>
        <label default for="product-form-input-tags">
          {{ 'keyword.capitalize.tag.plural' | translate }}
        </label>
		  <ion-select-product-tag id="product-form-input-tags" [control]="form.controls.tags"/>
	  </div>

      <price-and-currency-component [currencyControl]="form.controls.price.controls.currency"
        [currencyList]="(currencyList$ | async) ?? []" [label]="'keyword.capitalize.price' | translate"
        [priceControl]="form.controls.price.controls.value" class="flex-1" />

      <form-input inputType="number" [step]="1" [label]="'keyword.capitalize.order' | translate"
        [placeholder]="'keyword.capitalize.order' | translate" [control]="form.controls.order" />

      <utility-form-switch-active-block-component [label]="'keyword.capitalize.active' | translate"
        [control]="form.controls.active" />

    </bee-card>

    <utility-button-save-container-component class="bottom-0">
      <button id="product.form.save" type="button" primary [isLoading]="form.pending" [disabled]="form.disabled" [scrollToFirstError]="true"
        (click)="save()">
        {{ 'keyword.capitalize.save' | translate }}
      </button>
    </utility-button-save-container-component>
  </form>
  }
</form>
