<customer-filter-component/>
@if (tableState(); as data) {
	@if (data.total) {
		<customer-table-list-component class="flex flex-1 flex-col h-px" [tableState]="data"/>
	} @else {
		<not-found-table-data-component
			class="block h-full"
			(clickListener)="openForm()"
			[showLinkToForm]="true"
			[linkLabel]="'customer.button.create' | translate"
			[label]="'keyword.capitalize.dataNotFound' | translate">
			<customer-auto-refresh-component [resetPage]="true" [resetParams]="true"/>
		</not-found-table-data-component>
	}
}
