<bee-card>

	<div class="flex justify-between">
		<strong class="dark:text-white">{{ 'client.profile.form.section.logo.title' | translate }}</strong>
		<button class="text-beeColor-500 dark:text-beeColor-400 hover:text-beeColor-600 dark:hover:text-beeColor-500"
						(click)="toggleInfo.toggle()">
			<i class="bi" [class.bi-eye]="toggleInfo.isOff" [class.bi-eye-slash]="toggleInfo.isOn"></i>
		</button>
	</div>

	<div class="flex gap-4">

		<client-image-logo-business-profile-component
			[mediaId]="mediaId"
			[showHit]="toggleInfo.isOn"
			[control]="control" />

		<div>

			<p class="dark:text-beeColor-400">{{ 'client.profile.form.section.logo.motivate' | translate }}</p>
			<p class="dark:text-beeColor-400">{{ 'client.profile.form.section.logo.formats' | translate }}</p>

		</div>

	</div>

</bee-card>
