<div [tableFlex]="tableConfiguration">
	<div tableRowFlex="header">
		<div tableColumnFlex="color">
			{{ 'keyword.capitalize.color' | translate }}
		</div>
		<div tableColumnFlex="title" data-orderBy="languageVersions.title">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.title' | translate }}
				<utility-sort-indicator
					orderBy="languageVersions.title"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="price">
			{{ 'keyword.capitalize.price' | translate }}
		</div>
		<div tableColumnFlex="duration">
			{{ 'keyword.capitalize.duration' | translate }}
		</div>
		<div tableColumnFlex="order" data-orderBy="order">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.order' | translate }}
				<utility-sort-indicator
					orderBy="order"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="active" data-orderBy="state">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.active' | translate }}
				<utility-sort-indicator
					orderBy="state"
					[tableState]="tableState()"
				/>
			</div>
		</div>
		<div tableColumnFlex="createdAt" data-orderBy="createdAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.createdAt' | translate }}
				<utility-sort-indicator
					orderBy="createdAt"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="updatedAt" data-orderBy="updatedAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.updatedAt' | translate }}
				<utility-sort-indicator
					orderBy="updatedAt"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="action" class="border-l sticky right-0">
			{{ 'keyword.capitalize.action' | translate }}
		</div>
	</div>
	<!-- Column Cell	-->
	<div tableBodyFlex>
		@for (item of tableState().items; track item._id) {
			<div tableRowFlex="body" (click)="doubleClick(item)">
				<div tableColumnFlex="color">
					@if (item.presentation?.color) {

						<div class="h-10 w-10 rounded-full"
							 [style.background-color]="item.presentation?.color ?? ''"></div>
					} @else {
						<div class="h-10 w-10 rounded-full flex justify-center items-center bg-gray-100">
							❓
						</div>
					}
				</div>
				<div tableColumnFlex="title">
					<div class="flex flex-col divide-y w-full rounded-lg border">
						@for (languageVersion of item.languageVersions; track languageVersion.language) {

							<div
								class="relative text-wrap flex gap-2 items-start p-2 font-sans text-xs font-bold uppercase text-neutral-900">
								<label class="relative flex items-center justify-center p-0 cursor-pointer border-2 border-neutral-200 px-1 rounded-lg">
									{{ languageVersion.language }}
								</label>
								<div>
									{{ languageVersion.title }}
								</div>
							</div>
						}
					</div>
				</div>
				<div tableColumnFlex="price">
				<span class="truncate" [innerHTML]="durationVersionHtmlHelper.getPriceValue(item)">
				</span>
				</div>
				<div tableColumnFlex="duration">
				<span class="truncate" [innerHTML]="durationVersionHtmlHelper.getDurationValue(item)">
				</span>
				</div>
				<div tableColumnFlex="order">
					{{ item.order }}
				</div>
				<div tableColumnFlex="state">
					<div activeStyle [activeText]="'service.keyword.capitalize.active' | translate"
						 [inactiveText]="'service.keyword.capitalize.inactive' | translate" [state]="item.state">
					</div>
				</div>
				<div tableColumnFlex="createdAt">
				<span [title]="item.createdAt | date: 'full'" class="truncate">
					{{ item.createdAt | date: 'short' }}
				</span>
				</div>
				<div tableColumnFlex="updatedAt">
				<span [title]="item.updatedAt | date: 'full'" class="truncate">
					{{ item.updatedAt | date: 'short' }}
				</span>
				</div>
				<div tableColumnFlex="action" class="border-l sticky right-0">
					<service-row-action-button-component [item]="item" [id]="item._id"/>
				</div>
			</div>
		}
	</div>
</div>
<utility-table-state-pagination-component
	(page)="pageChange($event)"
	[tableState]="tableState()"/>
