<div #modalRef class="modal fade" [id]="id" tabindex="-1" [attr.aria-labelledby]="id + '_label'" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" [ngClass]="modalSize">
    <div class="modal-content shadow-none">
      <div class="modal-header">
        <h4 class="modal-title" [ngClass]="titleClasses" [id]="id + '_label'" [innerHtml]="title">
        </h4>
        <button #btnCloseRef type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
      </div>
      <ng-container *ngIf="showBody">
        <div *ngIf="contentHTML?.length" class="modal-body" [innerHTML]="contentHTML"></div>
        <div #contentRef class="modal-body" [class.fix-height]="fixHeight">
          <ng-content></ng-content>
        </div>
      </ng-container>
      <div *ngIf="buttons?.length" [class]="buttonSectionClass">
        <button type="button"
                *ngFor="let button of buttons"
                [id]="idPrefix + button.role"
                [ngClass]="button.classList"
                [disabled]="button?.disabled"
                (click)="buttonAction($event, button)">
          <ng-container *ngIf="button?.loading; else DefaultTemplate">
            <div spinner></div>
          </ng-container>
          <ng-template #DefaultTemplate>
            {{ button?.text }}
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
