.modal .modal-content {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}
.modal.show .modal-content {
  opacity: 1;
  transform: scale(1);
}

.modal-body.fix-height {
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
}

.custom {
  &-btn-width {
    &-150px {
      width: 150px;
    }
  }
}
