<div class="relative flex rounded-2xl bg-white shadow-sm items-stretch">

	<button
		(click)="previous()"
		type="button"
		class="flex h-12 items-center justify-center rounded-l-2xl border-y border-l border-beeColor-300 text-beeColor-400 hover:text-beeColor-500 focus:relative w-9 pr-0 hover:bg-beeColor-100">
		<i class="bi bi-chevron-left"></i>
	</button>

	<ion-datetime-button id="hidden-ion-datetime-button" [hidden]="true" datetime="datetime"/>

	<ion-modal [keepContentsMounted]="true">
		<ng-template>
			<div class="p-2">
				<ion-segment [formControl]="intervalTypeControl">

					@for (intervalType of intervalTypes; track intervalType) {
						<ion-segment-button [value]="intervalType">
							<ion-label>
								{{ 'keyword.capitalize.' + intervalType | translate }}
							</ion-label>
						</ion-segment-button>
					}

				</ion-segment>
			</div>

			@switch (intervalTypeControl.value) {

				@case (intervalTypeEnum.DAY) {
					<ion-datetime
						class="w-full min-w-full"
						[firstDayOfWeek]="1"
						[locale]="locale"
						[max]="datetimeAttributes.max"
						id="datetime"
						presentation="date"
						[formControl]="dateControl"/>
					<ion-list [inset]="true">
						<ion-item [button]="true" (click)="setToday()" detail="false" color="light">
							<ion-label class="text-center">
								{{ 'keyword.capitalize.today' | translate }}
							</ion-label>
						</ion-item>
					</ion-list>
				}
				@case (intervalTypeEnum.WEEK) {
					<ion-picker>
						<ion-picker-column [value]="dateControl.value" (ionChange)="onIonChange($event)">
							@for(weekOption of weekOptions; track weekOption.toISO) {
								<ion-picker-column-option [value]="weekOption.toISO">
									{{ getWeekTitle(weekOption.fromISO, weekOption.toISO) }}
								</ion-picker-column-option>
							}
						</ion-picker-column>
					</ion-picker>
				}

				@case (intervalTypeEnum.MONTH) {
					<ion-datetime
						[locale]="locale"
						[max]="datetimeAttributes.max"
						[formControl]="dateControl"
						presentation="month-year"/>
				}

				@case (intervalTypeEnum.YEAR) {
					<ion-picker>
						<ion-picker-column [value]="dateControl.value" (ionChange)="onIonChange($event)">
							@for(yearOption of yearOptions; track yearOption.fromISO) {
								<ion-picker-column-option [value]="yearOption.toISO">
									{{ yearOption.toISO | date: 'yyyy' }}
								</ion-picker-column-option>
							}
						</ion-picker-column>
					</ion-picker>
				}

			}

		</ng-template>
	</ion-modal>

	<button
		(click)="openDateModal()"
		id="open-modal"
		class="border-y border-beeColor-300 text-nowrap px-3.5 text-beeColor-900 flex flex-col justify-center items-center cursor-pointer hover:bg-beeColor-100 transition-all">

		@switch (intervalTypeControl.value) {

			@case (intervalTypeEnum.DAY) {
				@if (hint.length) {
					<div class="text-sm font-semibold">
						{{ hint | translate }}
					</div>
				}
				<div [class.text-xs]="hint.length">
					{{ fromControl.value | date: 'yyyy-MM-dd' }}
				</div>
			}
			@case (intervalTypeEnum.WEEK) {

				{{ getWeekTitle(fromControl.value, toControl.value) }}

			}
			@case (intervalTypeEnum.MONTH) {
				{{ fromControl.value | date: 'yyyy-MM' }}
			}
			@case (intervalTypeEnum.YEAR) {
				{{ fromControl.value | date: 'yyyy' }}
			}

		}

	</button>

	<button
		(click)="next()"
		type="button"
		class="flex h-12 items-center justify-center rounded-r-2xl border-y border-r border-beeColor-300 text-beeColor-400 hover:text-beeColor-500 focus:relative w-9 pl-0 hover:bg-beeColor-100">
		<i class="bi bi-chevron-right"></i>
	</button>

</div>
