<ng-container *ngIf="item">
	<div class="bg-white">
		<dl class="divide-y divide-gray-100">
			<div class="px-4 py-6 grid">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.services' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">

					<div class="flex flex-wrap gap-4" *ngIf="item.services.length">

						<app-order-service-details
							class="w-full cursor-pointer hover:bg-gray-100"
							*ngFor="let service of item.services; let index = index"
							(click)="openAppointmentDetails(service)"
							[service]="service">

						</app-order-service-details>

					</div>

				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.businessNote' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
					{{ item.businessNote }}
				</dd>
			</div>
			<div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.status' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
					{{ ('order.enum.status.singular.' + item.status) | translate }}
				</dd>
			</div>
		</dl>
	</div>

	<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6 flex flex-col gap-4 mb-[100px]">

		<div class="flex justify-between flex-col md:flex-row gap-4 bg-white p-4 border-y">

			<bee-delete-button [buttonWidthFull]="true" (event)="delete(item)"/>
			<edit-button-component [buttonWidthFull]="true" (click)="openForm()"/>

		</div>

		<div class="flex justify-between flex-col md:flex-row gap-4 bg-white p-4 border-y">

			<app-container-change-status-button [item]="item"/>

		</div>

		<div class="text-start text-beeColor-400 text-sm px-4">

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">

					<div>
						#
					</div>
					<div>
						{{ item._id }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}:
					</div>
					<div>
						{{ item.createdAt | dynamicDate }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}:
					</div>
					<div>
						{{ item.updatedAt | dynamicDate }}
					</div>

				</div>

			</div>

		</div>

	</div>
</ng-container>
