<div class="flex flex-col gap-4">

	<div class="flex justify-between items-center">
		<strong class="text-2xl dark:text-white">{{ 'keyword.capitalize.dateAndTime' | translate }}</strong>
		<utility-invalid-message [class.hidden]="control.untouched || control.valid" [control]="control"/>
	</div>

	<ng-container *ngIf="editable">

		<utility-date-slider-select-component
			(updateDayItemList)="updateDayItemList($event)"
			[dayItemList]="slotsService.dayItemList"
			[firstSlot$]="slotsService.firstSlot$"
			[loader]="slotsService.loader"
			[control]="control"
			[localDateTimeControl]="localDateTimeControl"/>

		<hr>

		<event-select-time-slot-time-form-component
			[configurationForm]="configurationForm"
			[localDateTimeControl]="localDateTimeControl"
			[control]="control"/>

	</ng-container>

	<ng-container *ngIf="!editable">

		{{ control.value | dynamicDate }}

	</ng-container>

</div>
