<div class="flex flex-col gap-8 mb-4">

	<div class="flex justify-between items-center">
		<strong class="text-2xl dark:text-white">{{ 'keyword.capitalize.dateAndTime' | translate }}</strong>
		<utility-invalid-message [class.hidden]="control.untouched" [control]="control"/>
	</div>

	<event-select-time-slot-date-form-component
		[control]="control"
		[localDateTimeControl]="localDateTimeControl"/>

	<event-select-time-slot-time-form-component
		[eventDurationInSeconds]="eventDurationInSeconds"
		[specialist]="specialist"
		[localDateTimeControl]="localDateTimeControl"
		[control]="control"/>

</div>
