<div class="flex flex-col gap-4">
	<div class="flex justify-between items-center">
		<strong class="text-2xl dark:text-white">{{ 'keyword.capitalize.service' | translate }}</strong>
		<utility-invalid-message [class.hidden]="serviceListControl.untouched || serviceListControl.valid"
								 [control]="serviceListControl"/>
	</div>

	@for (service of serviceListControl.value; track service._id) {

		<bee-card class="text-sm shadow-none" padding="p-0">
			<div class="flex justify-between items-start gap-4">
				@for (banner of service.presentation?.banners ?? []; track banner._id) {
					<div
						class="min-w-[64px] max-w-[64px] min-h-[64px] max-h-[64px] rounded-2xl bg-beeColor-400">
						@if (banner) {
							<img
								[src]="banner.url"
								alt="Uploaded Image"
								class="object-cover rounded-2xl min-w-[64px] max-w-[64px] min-h-[64px] max-h-[64px]"/>
						}
					</div>
				}
				<app-language-version-order-control-component
					[index]="$index"
					[languageControl]="languageControl()"
					[serviceListControl]="serviceListControl"
					[service]="service"/>
			</div>
			<event-duration-version-type-range
				[index]="$index"
				[serviceListControl]="serviceListControl"
				[service]="service"/>

			<event-service-specialist-component
				[index]="$index"
				[serviceListControl]="serviceListControl"
				[service]="service"/>
		</bee-card>

	}

	@if (editable()) {

		<div class="block">
			<button (click)="openModalToSelectService()" [isLoading]="loading$.isTrue" id="open-service-list-to-select-service" primaryLink
					type="button">
				<i class="bi bi-list-check"></i>
				{{ 'event.form.section.service.button.select' | translate }}
			</button>
		</div>
	}

</div>
