<div class="flex flex-col gap-4">
	<div class="flex justify-between items-center">
		<strong class="text-2xl dark:text-white">{{ 'keyword.capitalize.service' | translate }}</strong>
		<utility-invalid-message [class.hidden]="serviceListControl.untouched || serviceListControl.valid"
														 [control]="serviceListControl"/>
	</div>

	<ng-container *ngFor="let service of serviceListControl.value; let index = index">

		<bee-card class="text-sm shadow-none" padding="p-0">
			<div class="flex justify-between items-start gap-4">
				<div
					*ngFor="let banner of service.presentation?.banners ?? []"
					class="min-w-[64px] max-w-[64px] min-h-[64px] max-h-[64px] rounded-2xl bg-beeColor-400">
					<img
						*ngIf="banner"
						[src]="banner.url"
						class="object-cover rounded-2xl min-w-[64px] max-w-[64px] min-h-[64px] max-h-[64px]"
						alt="Uploaded Image"/>
				</div>
				<app-language-version-order-control-component
					[serviceListControl]="serviceListControl"
					[languageControl]="languageControl"
					[service]="service"
					[index]="index"/>
			</div>
			<event-duration-version-type-range
				[serviceListControl]="serviceListControl"
				[index]="index"
				[service]="service"/>

			<event-service-specialist-component
				[serviceListControl]="serviceListControl"
				[service]="service"
				[index]="index"/>
		</bee-card>

	</ng-container>

	<div class="block" *ngIf="editable">
		<button type="button" id="open-service-list-to-select-service" [isLoading]="loading$.isTrue" primaryLink (click)="openModalToSelectService()">
			<i class="bi bi-list-check"></i>
			{{ 'event.form.section.service.button.select' | translate }}
		</button>
	</div>

</div>
