<div class="block max-w-full" [ngClass]="{
'overflow-x-auto h-[calc(100dvh-80px)] md:h-[calc(100vh-65px)]': isPage()
}">
<!--	<app-order-filter-component [showButtonGoToForm]="showButtonGoToForm()"/>-->
<!--	@if (tableState(); as data) {-->
<!--		@if (data.total > 0) {-->
<!--			<app-order-card-list-component [tableState]="data"/>-->
<!--		} @else {-->

<!--			<not-found-table-data-component-->
<!--				class="block h-full"-->
<!--				(clickListener)="openForm()"-->
<!--				[showLinkToForm]="true"-->
<!--				[linkLabel]="'order.button.create' | translate"-->
<!--				[label]="'keyword.capitalize.dataNotFound' | translate">-->
<!--				<app-order-auto-refresh-component [resetPage]="true" [resetParams]="true"/>-->
<!--			</not-found-table-data-component>-->
<!--		}-->
<!--	}-->
</div>
