@import "/src/asset/scss/beeoclock-icons";
@import "bootstrap-icons";
@import "@ng-select/ng-select/themes/default.theme.css";
//@import "./asset/scss/theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// IONIC START
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
//@import "~@ionic/angular/css/normalize.css";
//@import "~@ionic/angular/css/structure.css";
//@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
//@import "~@ionic/angular/css/padding.css";
//@import "~@ionic/angular/css/float-elements.css";
//@import "~@ionic/angular/css/text-alignment.css";
//@import "~@ionic/angular/css/text-transformation.css";
//@import "~@ionic/angular/css/flex-utils.css";
//@import "~@ionic/angular/css/display.css";
// IONIC FINISH

// START CUSTOM ICON


.bee-icon {
  font-family: "beeoclock-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

// FINISH CUSTOM ICON

input[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}

button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

label[required]:after {
  content:" *";
  color: red;
}

.transform-origin-0-50 {
  transform-origin: 0 50%;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

.ng-select {

  &.border-0 {

    .ng-select-container {
      border: none;

    }

  }

}

.content-container {
  margin-top: 4rem;
  max-height: calc(100vh - 4rem);
}
