<div class="block max-w-full overflow-x-auto h-[calc(100vh-170px)] md:h-[calc(100vh-135px)]">
	<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-170px)]]="!tableState.items.length">
		<bee-card class="text-sm" *ngFor="let item of tableState.items">
			<div class="flex justify-between items-center">
				<div class="flex items-center gap-2">
					<div activeStyle [active]="item.active"></div>
				</div>
				<utility-table-column-action
					[id]="item._id"
					[active]="item.active"
					(delete)="delete($event)"
					(archive)="archive($event)"/>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.fullName' | translate }}
					</div>
					<div class="font-bold">
						{{ item.firstName ?? '-' }} {{ item.lastName ?? '-' }}
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.email' | translate }}
					</div>
					<div class="font-bold">
						{{ item.email ?? '-' }}
					</div>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.phone' | translate }}
					</div>
					<div class="font-bold">
						{{ item.phone ?? '-' }}
					</div>
				</div>
			</div>
			<div class="flex justify-between text-neutral-500">
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.createdAt | dynamicDate }}
					</div>
				</div>
				<div class="flex-1">
					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}
					</div>
					<div class="font-bold">
						{{ item.updatedAt | dynamicDate }}
					</div>
				</div>
			</div>
		</bee-card>
	</div>
	<utility-table-state-pagination-component
		*ngIf="tableState.total > tableState.items.length"
		(clearCache)="clearTableCache()"
		(page)="pageChange($event)"
		[tableState]="tableState"/>
</div>
