<div class="flex flex-col gap-4 my-4" [class.h-[calc(100vh-134px)]]="!tableState.items.length">
	<bee-card class="text-sm" *ngFor="let item of tableState.items; trackBy: trackById" (click)="singleClick(item)">
		<div class="flex justify-between items-center">
			<div class="flex items-center gap-2">
				<div [class.text-red-700]="!item.active" [class.text-green-700]="item.active">
					{{ (item.active ? 'keyword.capitalize.active' : 'keyword.capitalize.inactive' ) | translate }}
				</div>
			</div>
			<customer-row-action-button-component
				[item]="item"
				[id]="item._id"/>
		</div>
		<div class="flex justify-between">
			<div class="flex-1">
				<div>
					{{ 'keyword.capitalize.fullName' | translate }}
				</div>
				<div class="font-bold flex gap-2">
					<div>{{ item.firstName | noData }}</div> <div>{{ item.lastName | noData }}</div>
				</div>
			</div>
		</div>
		<div class="flex justify-between">
			<div class="flex-1">
				<div>
					{{ 'keyword.capitalize.email' | translate }}
				</div>
				<div class="font-bold">
					{{ item.email | noData }}
				</div>
			</div>
		</div>
		<div class="flex justify-between">
			<div class="flex-1">
				<div>
					{{ 'keyword.capitalize.phone' | translate }}
				</div>
				<div class="font-bold">
					{{ item.phone | noData }}
				</div>
			</div>
		</div>
	</bee-card>
</div>
<utility-table-state-pagination-component
	(page)="pageChange($event)"
	[tableState]="tableState"/>
