<filter-calendar-with-specialist [orderServiceStatusesControl]="orderServiceStatusesControl" [memberListControl]="memberIdListControl"/>

<div class="flex flex-col h-[calc(100%-60px)] overflow-auto w-full border-b">

	<!-- Header Row with Days -->
	<div class="flex bg-white sticky top-0 z-20 border-b">

		<!-- Specialists Column Header -->
		<div class="min-w-36 max-w-36 w-36 border-r bg-white px-4 py-2 flex items-center">
			<span class="text-sm font-medium text-gray-700">{{ 'keyword.capitalize.specialists' | translate }}</span>
		</div>

		<!-- Weekday Headers -->
		@for (weekday of weekdays; track weekday.number) {
			<div class="flex-1 min-w-32 border-r bg-white px-2 py-2 flex items-center justify-center">
				<span class="text-sm font-medium text-gray-800">{{ weekday.translationKey | translate }}</span>
			</div>
		}

	</div>

	<!-- Specialist Rows -->
	<div class="flex flex-col">

		@for (member of memberList; track member._id) {
			@if (memberIdListControl.getRawValue().includes(member._id)) {

				<!-- Specialist Row -->
				<div class="flex border-b last:border-none min-h-44">

					<!-- Specialist Name Column -->
					<div class="min-w-36 max-w-36 w-36 border-r bg-white px-1 flex items-center justify-end">
						<div class="text-sm font-medium text-gray-700 text-right">
							{{ member.firstName }} {{ member.lastName }}
						</div>
					</div>

					<!-- Weekday Columns for this Specialist -->
					@for (weekday of weekdays; track weekday.number) {
						<div class="flex-1 min-w-32 border-r bg-white p-1 relative flex flex-col">

							@let eventsByDateAndSpecialistId = eventsByDateAndSpecialistIdS();

							@if (eventsByDateAndSpecialistId) {

								@let itemsAtDate = eventsByDateAndSpecialistId[member._id]?.[weekday.number];

								<!-- Absences for this day -->
								@if (itemsAtDate) {
									@for (item of itemsAtDate.items; track item._id) {
										@if (isEAbsence(item)) {
											<app-absence-event-week-calendar-component [absence]="item"/>
										}
										@if (isEOrderService(item)) {
											<app-order-service-event-week-calendar-widget-component [orderService]="item"/>
										}
									}
								}

							}

						</div>
					}

				</div>

			}
		}

	</div>

</div>
