@if (item(); as customer) {
	<div class="bg-white">
		<dl class="divide-y divide-gray-100">

			<div class="p-4 gap-4 flex">
				<div
					class="text-neutral-400 font-extrabold text-6xl min-w-[192px] max-w-[192px] min-h-[192px] max-h-[192px] flex items-center justify-center bg-neutral-200 rounded-xl">
					<span class="">{{ (customer.firstName ?? '')[0] }}</span>
					<span class="">{{ (customer.lastName ?? '')[0] }}</span>
				</div>
				<div class="flex flex-col justify-between">
					<div class="flex flex-col gap-2">
						<div>
							<div activeStyle [active]="customer.active"></div>
						</div>
					</div>
					<div class=" flex flex-col">
						@if (customer.firstName; as firstName) {
							<span
								[class.text-xl]="firstName.length > 10"
								[class.text-2xl]="firstName.length > 9 && firstName.length < 11"
								[class.text-3xl]="firstName.length > 4 && firstName.length < 9"
								[class.text-4xl]="firstName.length < 5"
								class="font-extrabold break-all">{{ customer.firstName }}</span>
						}
						@if (customer.lastName) {
							<span class="text-xl break-all">{{ customer.lastName }}</span>
						}
					</div>
				</div>
			</div>
			<div class="px-3 py-3 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.email' | translate }}
				</dt>
				<dd class="text-sm leading-6 text-gray-700 sm:col-span-2">
					@if (customer.email?.length) {
						<a href="mailto:{{ customer.email }}"
						   primaryLinkStyle class="gap-2 whitespace-nowrap text-ellipsis text-nowrap overflow-hidden">
							<i class="bi bi-envelope-at"></i>
							{{ customer.email }}
						</a>
					}
				</dd>
			</div>
			<div class="px-3 py-3 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.phone' | translate }}
				</dt>
				<dd class="text-sm leading-6 text-gray-700 sm:col-span-2">
					@if (customer.phone?.length) {
						<a href="tel:{{ customer.phone }}"
						   primaryLinkStyle class="gap-2">
							<i class="bi bi-telephone"></i>
							{{ customer.phone }}
						</a>
						<a href="sms:{{ customer.phone }}"
						   primaryLinkStyle class="gap-2">
							<i class="bi bi-send"></i>
							SMS
						</a>
					}
				</dd>
			</div>
			<div class="px-3 py-3 sm:grid sm:grid-cols-3 sm:gap-4">
				<dt class="text-sm font-medium leading-6 text-gray-900">
					{{ 'keyword.capitalize.note' | translate }}
				</dt>
				<dd class="text-sm leading-6 text-gray-700 sm:col-span-2">
					{{ customer.note }}
				</dd>
			</div>
			<button (click)="openCustomersOrders()"
					class="w-full p-3 flex justify-between cursor-pointer hover:bg-gray-50 transition-all">

				<dt class="text-sm font-medium leading-6 text-gray-900 text-start">
					{{ 'sidebar.order' | translate }}
				</dt>
				<dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex justify-end">
					<div class="flex items-center gap-4">
						<i class="bi bi-chevron-right"></i>
					</div>
				</dd>
			</button>
		</dl>
	</div>

	<div class="col-span-12 xl:col-start-3 xl:col-span-8 2xl:col-start-4 2xl:col-span-6 flex flex-col gap-4 mb-[100px]">

		<div class="flex justify-between flex-col md:flex-row gap-4 bg-white p-4 border-y">

			<bee-delete-button [buttonWidthFull]="true" (event)="delete(customer)"/>
			<edit-button-component [buttonWidthFull]="true" (click)="openForm()"/>

		</div>

		<div class="text-start text-beeColor-400 text-sm px-4">

			<div class="flex flex-col gap-4">

				<div class="flex flex-col">

					<div>
						#
					</div>
					<div>
						{{ customer._id }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.createdAt' | translate }}:
					</div>
					<div>
						{{ customer.createdAt | dynamicDate }}
					</div>

				</div>

				<div class="flex flex-col">

					<div>
						{{ 'keyword.capitalize.updatedAt' | translate }}:
					</div>
					<div>
						{{ customer.updatedAt | dynamicDate }}
					</div>

				</div>

			</div>

		</div>

	</div>
}
