<div [tableFlex]="tableConfiguration">
	<div tableRowFlex="header">
		<div tableColumnFlex="lastName" data-orderBy="lastName">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.fullName' | translate }}
				<utility-sort-indicator
					orderBy="lastName"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="email">
			{{ 'keyword.capitalize.email' | translate }}
		</div>
<!--		<div tableColumnFlex="phone">-->
<!--			{{ 'keyword.capitalize.phone' | translate }}-->
<!--		</div>-->
		<div tableColumnFlex="role">
			{{ 'keyword.capitalize.role' | translate }}
		</div>
		<div tableColumnFlex="assignmentsService">
			{{ 'keyword.capitalize.services' | translate }}
		</div>
		<div tableColumnFlex="active" data-orderBy="active">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.status' | translate }}
				<utility-sort-indicator
					orderBy="active"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="createdAt" data-orderBy="createdAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.createdAt' | translate }}
				<utility-sort-indicator
					orderBy="createdAt"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="updatedAt" data-orderBy="updatedAt">
			<div class="flex gap-3 items-center">
				{{ 'keyword.capitalize.updatedAt' | translate }}
				<utility-sort-indicator
					orderBy="updatedAt"
					[tableState]="tableState()"/>
			</div>
		</div>
		<div tableColumnFlex="action" class="border-l sticky right-0">
			{{ 'keyword.capitalize.action' | translate }}
		</div>
	</div>
	<!-- Column Cell	-->
	<div tableBodyFlex>
		@for (item of tableState().items; track item._id) {
			<div tableRowFlex="body" (click)="doubleClick(item)">
				<div tableColumnFlex="lastName" class="flex gap-2">

					<div class="rounded-full bg-beeColor-400 min-h-8 min-w-8 flex justify-center items-center">
						@if (item?.avatar?.url) {
							<img [src]="item.avatar.url" class="min-h-8 min-w-8 max-h-8 max-w-8 h-8 w-8 rounded-full object-cover" alt="">
						} @else {

							<div class="text-white text-xs font-bold">{{ item?.firstName?.[0] ?? '' }}</div>
							<div class="text-white text-xs font-bold">{{ item?.lastName?.[0] ?? '' }}</div>
						}
					</div>
					<span class="truncate">
					{{ item.firstName }} {{ item.lastName }}
				</span>
				</div>
				<div tableColumnFlex="email">
					<a [title]="item.email"  class="truncate" href="mailto:{{ item.email }}">{{ item.email }}</a>
				</div>
				<!--			<div tableColumnFlex="phone" #phoneColumn [attr.data-value]="item.phone">-->
				<!--				<span [title]="phoneColumn.getAttribute('data-value')" class="truncate">-->
				<!--					{{ phoneColumn.getAttribute('data-value') }}-->
				<!--				</span>-->
				<!--			</div>-->
				<div tableColumnFlex="role" #roleColumn [attr.data-value]="'role.' + item.role | translate">
				<span [title]="roleColumn.getAttribute('data-value')" class="truncate">
					{{ roleColumn.getAttribute('data-value') }}
				</span>
				</div>
				<div tableColumnFlex="assignmentsService">
					<div>
						@if (item?.assignments?.service?.full) {

							<div class="border bg-green-50 border-green-600 text-green-600 leading-tight px-3 py-1 rounded-full">
								{{ 'keyword.lowercase.all' | translate }}
							</div>
						} @else {

							@if (item?.assignments?.service?.include?.length) {

								<div
									class="border bg-yellow-50 border-yellow-600 text-yellow-600 leading-tight px-3 py-1 rounded-full">
									{{ item.assignments.service.include.length }}
								</div>
							} @else {

								<div
									class="border bg-red-50 border-red-600 text-red-600 leading-tight px-3 py-1 rounded-full">
									{{ 'member.form.assignments.button.hint.includeIsEmpty' | translate }}
								</div>
							}
						}
					</div>
				</div>
				<div tableColumnFlex="active">
					{{ ('member.enum.profileStatus.' + item.profileStatus) | translate }}
				</div>
				<div tableColumnFlex="createdAt" #createdAtColumn [attr.data-value]="item.createdAt | dynamicDate">
				<span [title]="createdAtColumn.getAttribute('data-value')" class="truncate">
					{{ createdAtColumn.getAttribute('data-value') }}
				</span>
				</div>
				<div tableColumnFlex="updatedAt" #updatedAtColumn [attr.data-value]="item.updatedAt | dynamicDate">
				<span [title]="updatedAtColumn.getAttribute('data-value')" class="truncate">
					{{ updatedAtColumn.getAttribute('data-value') }}
				</span>
				</div>
				<div tableColumnFlex="action" class="border-l sticky right-0">
					<member-row-action-button-component [item]="item" [id]="item._id"/>
				</div>
			</div>
		}
	</div>
</div>
<utility-table-state-pagination-component
	(page)="pageChange($event)"
	[tableState]="tableState()"/>
